<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Entry Form</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/entryform.css">
</head>

<body>
    <div class="container">
        <div class=" text-center mt-5 ">
            <h1>Bootstrap Contact Form</h1>
        </div>
        <div class="row ">
            <div class="col-lg-7 mx-auto">
                <div class="card mt-2 mx-auto p-4 bg-light">
                    <div class="card-body bg-light">

                        <div class="container">
                            <form id="contact-form" role="form" action="/" method="post" enctype="multipart/form-data">
                                <div class="controls">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="studentname">Name *</label>
                                                <input id="studentname" type="text" name="studentname"
                                                    class="form-control" placeholder="Please enter name *"
                                                    required="required" data-error="Name is required.">
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="institute">Institute Name *</label>
                                                <input id="institute" type="text" name="institute" class="form-control"
                                                    placeholder="Please enter institute name *" required="required"
                                                    data-error="Institute name is required.">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="designation">Designation *</label>
                                                <input id="designation" type="text" name="designation"
                                                    class="form-control" placeholder="Please enter designation *"
                                                    required="required" data-error="Designation is required.">
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="course">Select Course *</label>
                                                <select id="course" name="course" class="form-control"
                                                    required="required" data-error="Please specify your need.">
                                                    <option value="" selected disabled>--Select Course--</option>
                                                    <option>Office Application Program</option>
                                                    <option>Graphic Designing</option>
                                                    <option>Degital Marketing</option>
                                                    <option>Other</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label for="image">Image *</label>
                                                <input id="image" type="file" accept="image/*" name="image"
                                                    class="form-control-file" required="required"
                                                    data-error="Image is required.">
                                                <small id="imageHelp" class="form-text text-muted">Please upload an
                                                    image file.</small>
                                            </div>
                                        </div>

                                        <div class="col-md-12">
                                            <input type="submit" class="btn btn-success btn-send  pt-2 btn-block
                            " value="Submit">
                                        </div>
                                        {% if message %}
                                        <p class="text-success text-center">{{ message }}</p>
                                        {% endif %}
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>
</body>

</html>