<!DOCTYPE html>
<html lang="en-us">

<head>
  <meta charset="utf-8">
  <title>About - Rainbow Computer Point</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=5">
  <meta name="description" content="This is meta description">
  <meta name="author" content="Themefisher">
  <link rel="shortcut icon" href="images/favicon.png" type="image/x-icon">
  <link rel="icon" href="images/favicon.png" type="image/x-icon">

  <!-- # Google Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap" rel="stylesheet">

  <!-- # CSS Plugins -->
  <link rel="stylesheet" href="plugins/slick/slick.css">
  <link rel="stylesheet" href="plugins/font-awesome/fontawesome.min.css">
  <link rel="stylesheet" href="plugins/font-awesome/brands.css">
  <link rel="stylesheet" href="plugins/font-awesome/solid.css">

  <!-- # Main Style Sheet -->
  <link rel="stylesheet" href="../static/style.css">

  <!-- #ICONS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/boxicons/2.1.0/css/boxicons.min.css"
    integrity="sha512-pVCM5+SN2+qwj36KonHToF2p1oIvoU3bsqxphdOIWMYmgr4ZqD3t5DjKvvetKhXGc/ZG5REYTT6ltKfExEei/Q=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link href="../static/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
</head>

<body>

  <!-- navigation -->
  <header class="navigation bg-tertiary">
    <nav class="navbar navbar-expand-xl navbar-light text-center py-3">
      <div class="container">
        <a class="navbar-brand" href="/">
          <img loading="prelaod" decoding="async" class="img-fluid" width="160" src="../static/images/logo.png"
            alt="রেইনবো">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"> <span
            class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mx-auto mb-2 mb-lg-0">
            <li class="nav-item"> <a class="nav-link" href="/">হোম</a>
            </li>
            <li class="nav-item "> <a class="nav-link" href="/aboutus">আমাদের সম্পর্কে</a>
            </li>
            <li class="nav-item "> <a class="nav-link" href="/courses">কোর্সসমূহ</a>
            </li>
            <li class="nav-item "> <a class="nav-link" href="/services">আমাদের সেবাসমূহ</a>
            </li>
            <li class="nav-item "> <a class="nav-link" href="/contactus">যোগাযোগ করুন</a>
            </li>
            <!-- <li class="nav-item dropdown"> <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown"
                            role="button" data-bs-toggle="dropdown" aria-expanded="false">Pages</a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item " href="blog.html">Blog</a>
                            </li>
                            <li><a class="dropdown-item " href="blog-details.html">Blog Details</a>
                            </li>
                            <li><a class="dropdown-item " href="service-details.html">Service Details</a>
                            </li>
                            <li><a class="dropdown-item " href="faq.html">FAQ&#39;s</a>
                            </li>
                            <li><a class="dropdown-item " href="legal.html">Legal</a>
                            </li>
                            <li><a class="dropdown-item " href="terms.html">Terms &amp; Condition</a>
                            </li>
                            <li><a class="dropdown-item " href="privacy-policy.html">Privacy &amp; Policy</a>
                            </li>
                        </ul>
                    </li> -->
          </ul>
          <a href="{{ url_for('applicationform') }}" class="btn btn-primary ">ভর্তির আবেদন</a>
          <a href="{{ url_for('studentlogin') }}" class="btn btn-outline-primary ms-2 ms-lg-3">লগইন</a>
        </div>
      </div>
    </nav>
  </header>
  <!-- /navigation -->


  <section class="page-header bg-tertiary">
    <div class="container">
      <div class="row">
        <div class="col-8 mx-auto text-center">

        </div>
      </div>
    </div>

  </section>

  <section class="section aboutus-section">
    <div class="container">
      <div class="row">
        <div class="about">

          <div class="about-management">
            <img src="../static/images/aboutus/director.JPG" alt="director">
            <h3 class="card-title mt-3">মোঃ নজরুল ইসলাম</h3>
            <p>পরিচালক, রেইনবো কম্পিউটার পয়েন্ট</p>
            <hr>
          </div>
          <p class="text-justify">বিশাল প্রতিযোগিতার এই যুগে নিজেকে একটি সম্মানজনক স্থানে প্রতিষ্ঠিত করা খুবই কষ্টসাধ্য
            ব্যাপার।
            তদুপরি বর্তমান যুগ তথ্য প্রযুক্তির যুগ। আমাদের বিচরণের প্রতিটি পদক্ষেপেই রয়েছে তথ্য প্রযুক্তির
            ব্যবহার। তাই জেনারেল শিক্ষার পাশাপাশি তথ্য প্রযুক্তির উপর নূন্যতম ধারণা না থাকলে আমাদের স্বপ্ন
            পূরণ করা সম্ভব হবে না। তাই তথ্য প্রযুক্তি তথা কম্পিউটার প্রশিক্ষনকে মানুষের দোর গোড়ায় পৌছে দিতে
            যুব উন্নয়ন কম্পিউটার ও শর্টহ্যান্ড প্রশিক্ষণ কেন্দ্র কর্তৃক পরিচালিত রেইনবো কম্পিউটার পয়েন্ট
            নিরলস প্রচেষ্টা চালিয়ে যাচ্ছে। শিক্ষার্থীদের হাতে কলমে কম্পিউটার প্রশিক্ষণের পাশাপাশি একটি
            মানসম্মত ও দিক নির্দেশনামূলক নোট বই এর সহায়তা প্রয়োজন। তাই শিক্ষার্থীদের কম্পিউটার প্রশিক্ষণকে
            সহজ করতে যুগোপযোগী ও প্রয়োজনীয় বিষয়ের উপর আলোকপাত করে এই বইটি লিখতে শুরু করি। শিক্ষার্থীরা এই
            বইটি পড়ে তাদের কর্মক্ষেত্রে উপকার পাবে বলে আমি আশাবাদী। রেইনবো কম্পিউটার পয়েন্ট প্রতিষ্ঠানটি
            ২০০০ সালে প্রতিষ্ঠিত হয়ে অদ্যবদি নিরলসভাবে বিভিন্ন শ্রেণীর মানুষকে কম্পিউটার প্রশিক্ষণ দিয়ে
            আসছে। বর্তমানে এই প্রতিষ্ঠানটি দীর্ঘদিনের কার্যক্রমের দ্বারা ব্যাপক সুনাম অর্জন করতে সক্ষম
            হয়েছে। এই প্রতিষ্ঠানটি ২০১৪ সালে যুব উন্নয়ন কম্পিউটার ও শর্টহ্যান্ড প্রশিক্ষণ কেন্দ্র কর্তৃক
            অনুমোদন প্রাপ্ত হয়। ঘরে ঘরে তথ্য প্রযুক্তি পৌছে দিতে এবং ডিজিটাল বাংলাদেশ গড়তে সরকারের পাশাপাশি
            আমরাও প্রতিশ্রুতিবদ্ধ। তাই বলতে পারি "সুদীর্ঘ পথ পেরিয়ে, যুগের সাথে তাল মিলিয়ে, আমরা চলেছি জ্ঞান
            বিলিয়ে"। আমাদের এই দীর্ঘ মিশনে অংশ গ্রহণকারী সকল শিক্ষার্থী, প্রশিক্ষক ও শুভাকাঙ্খী সবাইকে জানাই
            আন্তরিক ধন্যবাদ ও অভিনন্দন। সকলের সহযোগিতা, আন্তরিক পরিশ্রম এবং মেধাবীদের দিক নির্দেশনা সকল কিছু
            মিলেই আজকের এই রেইনবো কম্পিউটার পয়েন্ট। সেই সাথে আমরা আশা করি আগামী দিনেও আমাদের চলার পথে সকলের
            সহযোগিতা অব্যাহত থাকবে। বইটিতে অনিচ্ছাকৃত ত্রুটি শুধরে দেওয়ার অধিকার রইল।
          </p>
          <div class="about-management">
            <img src="../static/images/aboutus/instructor.JPG" alt="instructor">
            <h3 class="card-title mt-3">মোঃ শাকিল</h3>
            <p>প্রশিক্ষক, রেইনবো কম্পিউটার পয়েন্ট</p>
            <hr>
          </div>
          <p class="text-justify">কম্পিউটার প্রশিক্ষণ বর্তমানে অত্যন্ত গুরুত্বপূর্ণ । কম্পিউটার প্রশিক্ষণ এখন নিয়ে
            এসেছে শিক্ষার্থীদের পক্ষে একটি অপরিহার্য অংশ। কম্পিউটার ও তথ্য প্রযুক্তি ব্যবহার করে তারা পাঠ্য ও সংশ্লিষ্ট
            প্রযুক্তি অনুষ্ঠানের প্রশ্ন সমাধান করতে পারে, এবং নিজের স্বাধীনভাবে নির্ধারিত কাজ সম্পাদন করতে পারে।
            কম্পিউটার প্রশিক্ষণ পেশাদার ক্যারিয়ার প্রস্তুতে অত্যন্ত গুরুত্বপূর্ণ। কম্পিউটার ও তথ্য প্রযুক্তির প্রয়োগের
            মাধ্যমে নিয়োগ সংক্রান্ত দক্ষতা বাড়ানো যায়। এক্ষেত্রে কম্পিউটার প্রশিক্ষণ প্রয়োজনীয় ক্যারিয়ার প্রস্তুতির
            জন্য গুরুত্বপূর্ণ হতে পারে। অফিসিয়াল কাজ, প্রোগ্রামিং, ওয়েব ডেভেলপমেন্ট, এবং ডেটা এনালিসিস ইত্যাদি বিষয়ে
            প্রস্তুতি নেওয়া সহজ করে এই ক্ষেত্রে অন্যান্য প্রয়োজনীয় দক্ষতা অর্জন করা সম্ভব। এছাড়াও, বিশ্বের বেশিরভাগ
            কাজের প্রস্তুতি এখন অনলাইনে হচ্ছে, যা কম্পিউটার প্রশিক্ষণের গুরুত্ব আরও বৃদ্ধি দেয়। তাই, বর্তমানে কম্পিউটার
            প্রশিক্ষণ একটি অত্যন্ত প্রয়োজনীয় উপায় হিসেবে প্রতিষ্ঠান ও সমাজের ক্ষেত্রে প্রতিষ্ঠানিকভাবে গুরুত্বপূর্ণ
            হচ্ছে। তারই লক্ষ্যে রেইনবো কম্পিউটার পয়েন্ট প্রতিষ্ঠানটি ২০০০ সালে প্রতিষ্ঠিত হয়ে অদ্যবদি নিরলসভাবে বিভিন্ন
            শ্রেণীর মানুষকে কম্পিউটার প্রশিক্ষণ দিয়ে আসছে। বর্তমানে এই প্রতিষ্ঠানটি দীর্ঘদিনের কার্যক্রমের দ্বারা ব্যাপক
            সুনাম অর্জন করতে সক্ষম হয়েছে। এই প্রতিষ্ঠানটি ২০১৪ সালে যুব উন্নয়ন কম্পিউটার ও শর্টহ্যান্ড প্রশিক্ষণ কেন্দ্র
            কর্তৃক অনুমোদন প্রাপ্ত হয়। ঘরে ঘরে তথ্য প্রযুক্তি পৌছে দিতে এবং ডিজিটাল বাংলাদেশ গড়তে সরকারের পাশাপাশি আমরাও
            প্রতিশ্রুতিবদ্ধ।
          </p>
        </div>
      </div>
    </div>
  </section>

  <section class="section course-section aboutus-course">
    <div class="container">
      <div class="row">
        <div class="section-title">
          <h1>আমাদের কোর্সসমূহ</h1>
          <p>সময়োপযোগী কোর্সসমূহ দিয়ে সাজানো হয়েছে আমাদের পাঠ্যসূচি, যা আপনাকে বিশ্বজুড়ে কর্মক্ষম করে গড়ে
            তুলবে</p>
          <hr>
        </div>
        <!--For Page-->
        <!-- <div class="page"> -->
        <!--For Row containing all card-->
        <div class="row" id="cards-container">
        </div>
        <!-- </div> -->
      </div>
    </div>
  </section>
  <!-- ======= Contact Section ======= -->
  <section id="contact" class="section contact">
    <div class="container">
      <div class="section-title">
        <h1>যোগাযোগ করুন</h1>
        <p>ভর্তি এবং যাবতীয় বিষয় সম্পর্কে আমাদের সাথে যোগাযোগ করুন।</p>
        <hr>
      </div>

      <div class="row mt-2">

        <div class="col-md-6 d-flex align-items-stretch">
          <div class="card info-box">
            <i class="bx bx-map"></i>
            <h3>আমাদের ঠিকানা</h3>
            <p>জয়নাবড়ি রোড, হেমায়েতপুর, সাভার, ঢাকা-১৩৪০।</p>
          </div>
        </div>

        <div class="col-md-6 mt-4 mt-md-0 d-flex align-items-stretch">
          <div class="card info-box">
            <i class="bx bx-share-alt"></i>
            <h3>সোশাল মিডিয়া</h3>
            <div class="social-links">
              <a href="https://www.facebook.com/mrshakil015" class="facebook" target="_blank"><i
                  class="bi bi-facebook"></i></a>
              <a href="https://www.linkedin.com/in/mrshakil015" class="linkedin" target="_blank"><i
                  class="bi bi-youtube"></i></a>
            </div>
          </div>
        </div>

        <div class="col-md-6 mt-4 d-flex align-items-stretch">
          <div class="card  info-box">
            <i class="bx bx-envelope"></i>
            <h3>ই-মেইল</h3>
            <p>rainbow.saif@gmail.com</p>
          </div>
        </div>
        <div class="col-md-6 mt-4 d-flex align-items-stretch">
          <div class="card info-box">
            <i class="bx bx-phone-call"></i>
            <h3>মোবাইল</h3>
            <p>+880 1716226026</p>
          </div>
        </div>
        <div class="location-section">
          <div class="col-md-12 d-flex align-items-stretch">
            <iframe
              src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3650.6729736420266!2d90.26838887419115!3d23.794656987078056!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3755eae58c2a7d19%3A0x9adaa5bc5720253f!2sRainbow%20Computer!5e0!3m2!1sen!2sbd!4v1710010898836!5m2!1sen!2sbd"
              frameborder="0" style="width: 100%; height: 290px;" allowfullscreen=""></iframe>
          </div>
        </div>
      </div>
    </div>
  </section><!-- End Contact Section -->


  <footer id="footer">
    <div class="footer-top">
      <div class="container">
        <div class="row">
          <div class="col-lg-3 col-md-6 footer-contact">
            <!-- <h3>Sobjanta</h3> -->
            <img src="../static/images/logo.png" class="img-fluid animated" alt="sobjantalogo">
          </div>
          <div class="col-lg-3 col-md-6 footer-links">
            <h4>গুরুত্বপূর্ণ লিংক</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="{{url_for('index')}}">হোম</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="{{url_for('aboutus')}}">আমাদের সম্পর্কে</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="{{url_for('contactus')}}">যোগাযোগ</a></li>
            </ul>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>আমাদের সেবাসমূহ</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="{{url_for('courses')}}">কোর্সসমূহ</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="{{url_for('services')}}">সেবাসমূহ</a></li>
            </ul>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <!-- <h4>Our Social Networks</h4> -->
            <p>সর্বশেষ আপডেট, খবরের জন্য আমাদের সামাজিক মিডিয়া যোগ দিন। 📱💬 ফেসবুকে এবং ইউটিউবে আমাদের অনুসরণ করুন।
              আমাদের সাথে সংযুক্ত থাকুন!</p>
            <div class="social-links mt-3">

              <a href="https://www.facebook.com" target="_blank" class="facebook" aria-label="Facebook">
                <i class="bx bxl-facebook"></i>
              </a>

              <a href="https://www.youtube.com" target="_blank" class="youtube" aria-label="Youtube">
                <i class='bx bxl-youtube'></i>
              </a>

            </div>
          </div>

        </div>
      </div>
    </div>

    <div class="container footer-bottom clearfix">
      <div class="copyright">
        &copy; Copyright <strong><span>Rainbow Computer Point</span></strong>. All Rights Reserved
      </div>
      <!-- <div class="developer">
                Developed by <strong><a href="https://mrshakil015.github.io/" target="_blank">CodeMod</a></strong>
              </div> -->
    </div>
  </footer><!-- End Footer -->


  <!-- Bottom to Top Scroll -->
  <a href="#" id="back-to-top" class="back-to-top d-flex align-items-center justify-content-center">
    <i class="bi bi-arrow-up-short"></i>
  </a>

  <script>
    $(document).ready(function () {
      $(window).scroll(function () {
        if ($(this).scrollTop() > 50) {
          $('#back-to-top').css('visibility', 'visible');
        } else {
          $('#back-to-top').css('visibility', 'hidden');
        }
      });

      // scroll body to 0px on click
      $('#back-to-top').click(function () {
        $('body,html').animate({
          scrollTop: 0
        }, 400);
        return false;
      });
    });
  </script>
  <!-- # JS Plugins -->
  <script src="plugins/jquery/jquery.min.js"></script>
  <script src="plugins/bootstrap/bootstrap.min.js"></script>
  <script src="plugins/slick/slick.min.js"></script>
  <script src="plugins/scrollmenu/scrollmenu.min.js"></script>

  <!-- Main Script -->
  <script src="{{ url_for('static', filename='script.js') }}"></script>
  <script src="{{ url_for('static', filename='courseinfo.js') }}"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.3/js/bootstrap.min.js"
  integrity="sha512-ykZ1QQr0Jy/4ZkvKuqWn4iF3lqPZyij9iRv6sGqLRdTPkY69YX6+7wvVGmsdBbiIfN/8OdsI7HABjvEok6ZopQ=="
  crossorigin="anonymous" referrerpolicy="no-referrer"></script>

</body>

</html>