<!DOCTYPE html>
<html lang="en-us">

<head>
    <meta charset="utf-8">
    <title>Admin Dashboard - Rainbow Computer Point</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=5">
    <meta name="description" content="This is meta description">
    <meta name="author" content="Rainbow Computer Point">
    <link rel="shortcut icon" href="images/favicon.png" type="image/x-icon">
    <link rel="icon" href="images/favicon.png" type="image/x-icon">

    <!-- theme meta -->
    <meta name="theme-name" content="Rainbow Computer Point" />

    <!-- # Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap" rel="stylesheet">

    <!-- # CSS Plugins -->
    <link rel="stylesheet" href="plugins/slick/slick.css">
    <link rel="stylesheet" href="plugins/font-awesome/fontawesome.min.css">
    <link rel="stylesheet" href="plugins/font-awesome/brands.css">
    <link rel="stylesheet" href="plugins/font-awesome/solid.css">

    <!-- # Main Style Sheet -->
    <link rel="stylesheet" href="../static/style.css">
</head>

<body>

    <!-- navigation -->
    <header class="navigation bg-tertiary">
        <nav class="navbar navbar-expand-xl navbar-light text-center py-3">
            <div class="container">
                <a class="navbar-brand" href="/">
                    <img loading="prelaod" decoding="async" class="img-fluid" width="160"
                        src="../static/images/logo.png" alt="রেইনবো">
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation"> <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mx-auto mb-2 mb-lg-0">
                        
                        <li class="nav-item "> <a class="nav-link" href="/admincourse">কোর্সসমূহ</a>
                        </li>
                        <li class="nav-item "> <a class="nav-link" href="/adminservices">সেবাসমূহ</a>
                        </li>
                        <li class="nav-item "> <a class="nav-link" href="/studentsinfo">শিক্ষার্থী</a>
                        </li>
                    </ul>
                    <!-- account btn --> 
                    <a class="btn btn-outline-primary m-2" href="/admindashboard">ড্যাশবোর্ড</a>
                    <a href="{{ url_for('admin_login') }}" class="btn btn-outline-primary">লগ
                        আউট</a>
                </div>
            </div>
        </nav>
    </header>
    <!-- /navigation -->

    <section class="about-section section position-relative overflow-hidden">
        <div class="container mt-5">
            <div class="row justify-content-center">
                <div class="mt-4 col-lg-3 col-md-3">
                    <a href="{{url_for('admincourse')}}" class="card-link">
                    <div class="card feature-item">
                            <div class="card-body">
                                <div class="rounded justify-content-center">
                                    <span class="colored-box text-center h3">০১</span>
                                    <h3 class="">কোর্সসমূহ</h3>
                                </div>
                            </div>
                    </div>
                </a>
                </div>
                <div class="mt-4 col-lg-3 col-md-3">
                    <a href="{{url_for('adminservice')}}" class="card-link">
                    <div class="card feature-item">
                        <div class="card-body">
                            <div class="rounded justify-content-center">
                                <span class="colored-box text-center h3">০২</span>
                                <h3 class="">সেবাসমূহ</h3>
                            </div>
                        </div>
                    </div>
                </a>
                </div>
                <div class="mt-4 col-lg-3 col-md-3">
                    <a href="{{url_for('studentsinfo')}}" class="card-link">
                    <div class="card feature-item">
                            <div class="card-body">
                                <div class="rounded justify-content-center">
                                    <span class="colored-box bg-primary text-center h3">০৩</span>
                                    <h3 class="">শিক্ষার্থী</h3>
                                </div>
                            </div>
                    </div>
                </a>
                </div>
                <div class="mt-4 col-lg-3 col-md-3">
                    <a href="{{url_for('pendingstudent')}}" class="card-link">
                    <div class="card feature-item">
                        
                            <div class="card-body">
                                <div class="rounded justify-content-center">
                                    <span class="colored-box bg-primary text-center h3">০৪</span>
                                    <h3 class="">আবেদনকৃত শিক্ষার্থী</h3>
                                </div>
                            </div>
                        
                    </div>
                    </a>
                </div>
                <div class="mt-4 col-lg-3 col-md-3">
                    <div class="card feature-item">
                        <div class="card-body">
                            <div class="rounded justify-content-center">
                                <span class="colored-box bg-primary text-center h3">০৫</span>
                                <h3 class="">সফল শিক্ষার্থী</h3>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="mt-4 col-lg-3 col-md-3">
                    <a href="{{url_for('admingallery')}}" class="card-link">
                    <div class="card feature-item">
                        <div class="card-body">
                            <div class="rounded justify-content-center">
                                <span class="colored-box bg-primary text-center h3">০৬</span>
                                <h3 class="">গ্যালারী</h3>
                            </div>
                        </div>
                    </div>
                </a>
                </div>
            </div>
        </div>

    </section>



    <!-- # JS Plugins -->
    <script src="plugins/jquery/jquery.min.js"></script>
    <script src="plugins/bootstrap/bootstrap.min.js"></script>
    <script src="plugins/slick/slick.min.js"></script>
    <script src="plugins/scrollmenu/scrollmenu.min.js"></script>

    <!-- Main Script -->
    <script src="{{ url_for('static', filename='script.js') }}"></script>
    <script src="{{ url_for('static', filename='courseinfo.js') }}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.3/js/bootstrap.min.js"
    integrity="sha512-ykZ1QQr0Jy/4ZkvKuqWn4iF3lqPZyij9iRv6sGqLRdTPkY69YX6+7wvVGmsdBbiIfN/8OdsI7HABjvEok6ZopQ=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>

</body>

</html>