<!DOCTYPE html>
<html lang="en-us">

<head>
    <meta charset="utf-8">
    <title>Rainbow Computer Point</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=5">
    <meta name="description" content="This is meta description">
    <meta name="author" content="Rainbow Computer Point">
    <link rel="shortcut icon" href="images/favicon.png" type="image/x-icon">
    <link rel="icon" href="images/favicon.png" type="image/x-icon">

    <!-- theme meta -->
    <meta name="theme-name" content="Rainbow Computer Point" />

    <!-- # Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap" rel="stylesheet">

    <!-- # CSS Plugins -->
    <link rel="stylesheet" href="plugins/slick/slick.css">
    <link rel="stylesheet" href="plugins/font-awesome/fontawesome.min.css">
    <link rel="stylesheet" href="plugins/font-awesome/brands.css">
    <link rel="stylesheet" href="plugins/font-awesome/solid.css">

    <!-- # Main Style Sheet -->
    <link rel="stylesheet" href="../static/style.css">
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.3/js/bootstrap.min.js" integrity="sha512-ykZ1QQr0Jy/4ZkvKuqWn4iF3lqPZyij9iRv6sGqLRdTPkY69YX6+7wvVGmsdBbiIfN/8OdsI7HABjvEok6ZopQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script> -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.3/css/bootstrap.min.css"
        integrity="sha512-jnSuA4Ss2PkkikSOLtYs8BlYIeeIK1h99ty4YfvRPAlzr377vr3CXDb7sb7eEEBYjDtcYj+AjBH3FLv5uSJuXg=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>

    <!-- navigation -->
    <header class="navigation bg-tertiary">
        <nav class="navbar navbar-expand-xl navbar-light text-center py-3">
            <div class="container">
                <a class="navbar-brand" href="/">
                    <img loading="prelaod" decoding="async" class="img-fluid" width="160"
                        src="../static/images/logo.png" alt="রেইনবো">
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation"> <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mx-auto mb-2 mb-lg-0">
                        <li class="nav-item"> <a class="nav-link" href="/admindashboard">হোম</a>
                        </li>
                        <li class="nav-item "> <a class="nav-link" href="/aboutus">আমাদের সম্পর্কে</a>
                        </li>
                        <li class="nav-item "> <a class="nav-link" href="/admincourse">কোর্সসমূহ</a>
                        </li>
                        <li class="nav-item "> <a class="nav-link" href="/adminservices">সেবাসমূহ</a>
                        </li>
                        <li class="nav-item "> <a class="nav-link" href="contact.html">যোগাযোগ করুন</a>
                        </li>
                        <!-- <li class="nav-item dropdown"> <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown"
                                role="button" data-bs-toggle="dropdown" aria-expanded="false">Pages</a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item " href="blog.html">Blog</a>
                                </li>
                                <li><a class="dropdown-item " href="blog-details.html">Blog Details</a>
                                </li>
                                <li><a class="dropdown-item " href="service-details.html">Service Details</a>
                                </li>
                                <li><a class="dropdown-item " href="faq.html">FAQ&#39;s</a>
                                </li>
                                <li><a class="dropdown-item " href="legal.html">Legal</a>
                                </li>
                                <li><a class="dropdown-item " href="terms.html">Terms &amp; Condition</a>
                                </li>
                                <li><a class="dropdown-item " href="privacy-policy.html">Privacy &amp; Policy</a>
                                </li>
                            </ul>
                        </li> -->
                    </ul>
                    <!-- account btn --> <a href="{{ url_for('admin_login') }}" class="btn btn-outline-primary">লগ
                        আউট</a>
                    <!-- account btn -->
                    <!-- <a href="#!" class="btn btn-primary ms-2 ms-lg-3">সাইনআপ</a> -->
                </div>
            </div>
        </nav>
    </header>
    <!-- /navigation -->

    <section class="application-section section bg-tertiary position-relative overflow-hidden">
        <div class="container">
            <div class="row justify-content-center">
                <div class="section-title">
                    <h1>শিক্ষার্থী আবেদন ফরম</h1>
                    <p>ভর্তির আবেদন করতে নিচের ফরমটি পূরণ করুন</p>
                </div>
            </div>
    </section>
    <section class="form-section">
        <div class="container">
            <div class="row justify-content-center">
                <div class="card col-lg-12">
                    <div class="card-body">
                        <div class="card-title">
                            <!-- <h3>শিক্ষার্থী আবেদন ফরম</h3> -->
                            <p>বিঃদ্রঃ ফরমটি অবশ্যই ইংরেজিতে পূরণ করতে হবে।</p>
                        </div>
                        <form id="contact-form" role="form" action="/adminservice" method="post"
                            enctype="multipart/form-data">
                            <div class="controls">
                                <div class="row">

                                    <div class="input-section col-lg-6 col-md-6 col-sm-12">
                                        <div class="form-group">
                                            <label for="coursename">কোর্স সিলেক্ট করুন *</label>
                                            <select id="coursename" name="coursename" class="form-control"
                                                required="required" data-error="Select the Course.">
                                                <option value="" selected disabled>--Select Course--</option>
                                                <option>Office Application Program</option>
                                                <option>Graphic Designing</option>
                                                <option>Digital Marketing</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="input-section col-lg-6 col-md-6 col-sm-12">
                                        <div class="form-group">
                                            <label for="serviceid">শিক্ষার্থীর নাম *</label>
                                            <input id="serviceid" type="text" name="serviceid" class="form-control"
                                                placeholder="Service Serial No *" required="required">
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="input-section col-lg-6 col-md-6 col-sm-12">
                                        <div class="form-group">
                                            <label for="serviceid">পিতার নাম *</label>
                                            <input id="serviceid" type="text" name="serviceid" class="form-control"
                                                placeholder="Service Serial No *" required="required">
                                        </div>
                                    </div>
                                    <div class="input-section col-lg-6 col-md-6 col-sm-12">
                                        <div class="form-group">
                                            <label for="servicename">মাতার নাম *</label>
                                            <input id="servicename" type="text" name="servicename" class="form-control"
                                                placeholder="Service Name *" required="required">
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="input-section col-lg-6 col-md-6 col-sm-12">
                                        <div class="form-group">
                                            <label for="serviceid">জন্ম তারিখ *</label>
                                            <input id="serviceid" type="text" name="serviceid" class="form-control"
                                                placeholder="Service Serial No *" required="required">
                                        </div>
                                    </div>

                                    <div class="input-section col-lg-6 col-md-6 col-sm-12">
                                        <div class="form-group">
                                            <label for="coursename">লিঙ্গ *</label>
                                            <select id="coursename" name="coursename" class="form-control"
                                                required="required" data-error="Select the Course.">
                                                <option value="" selected disabled>--Select Gender--</option>
                                                <option>পুরুষ</option>
                                                <option>মহিলা</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="input-section col-lg-6 col-md-6 col-sm-12">
                                        <div class="form-group">
                                            <label for="serviceid">ইমেল *</label>
                                            <input id="serviceid" type="text" name="serviceid" class="form-control"
                                                placeholder="Service Serial No *" required="required">
                                        </div>
                                    </div>
                                    <div class="input-section col-lg-6 col-md-6 col-sm-12">
                                        <div class="form-group">
                                            <label for="servicename">মোবইল *</label>
                                            <input id="servicename" type="text" name="servicename" class="form-control"
                                                placeholder="Service Name *" required="required">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="input-section col-lg-6 col-md-6 col-sm-12">
                                        <div class="form-group">
                                            <label for="serviceid">ঠিকানা *</label>
                                            <input id="serviceid" type="text" name="serviceid" class="form-control"
                                                placeholder="Service Serial No *" required="required">
                                        </div>
                                    </div>
                                    <div class="input-section col-lg-6 col-md-6 col-sm-12">
                                        <div class="form-group">
                                            <label for="formFile" class="form-label">ফটোগ্রাফ/ছবি (সর্বোচ্চ ২ MB) *</label>
                                            <input class="form-control" type="file" accept="image/*"  id="formFile" required="required">
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="form-footer">
                                <button type="submit" class="btn col-lg-3" id="add-service-button">সাবমিট করুন</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>



    <!-- # JS Plugins -->
    <script src="plugins/jquery/jquery.min.js"></script>
    <script src="plugins/bootstrap/bootstrap.min.js"></script>
    <script src="plugins/slick/slick.min.js"></script>
    <script src="plugins/scrollmenu/scrollmenu.min.js"></script>

    <!-- Main Script -->
    <script src="js/script.js"></script>
    <script src="{{ url_for('static', filename='courseinfo.js') }}"></script>

</body>

</html>