<!DOCTYPE html>
<html lang="en-us">

<head>
  <meta charset="utf-8">
  <title>Contact - Rainbow Computer Point</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=5">
  <meta name="description" content="This is meta description">
  <meta name="author" content="Themefisher">
  <link rel="shortcut icon" href="images/favicon.png" type="image/x-icon">
  <link rel="icon" href="images/favicon.png" type="image/x-icon">

  <!-- # Google Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap" rel="stylesheet">

  <!-- # CSS Plugins -->
  <link rel="stylesheet" href="plugins/slick/slick.css">
  <link rel="stylesheet" href="plugins/font-awesome/fontawesome.min.css">
  <link rel="stylesheet" href="plugins/font-awesome/brands.css">
  <link rel="stylesheet" href="plugins/font-awesome/solid.css">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/boxicons/2.1.0/css/boxicons.min.css"
    integrity="sha512-pVCM5+SN2+qwj36KonHToF2p1oIvoU3bsqxphdOIWMYmgr4ZqD3t5DjKvvetKhXGc/ZG5REYTT6ltKfExEei/Q=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link href="../static/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">


  <!-- # Main Style Sheet -->
  <link rel="stylesheet" href="../static/style.css">
</head>

<body>

  <!-- navigation -->
  <header class="navigation bg-tertiary">
    <nav class="navbar navbar-expand-xl navbar-light text-center py-3">
      <div class="container">
        <a class="navbar-brand" href="/">
          <img loading="prelaod" decoding="async" class="img-fluid" width="160" src="../static/images/logo.png"
            alt="রেইনবো">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"> <span
            class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mx-auto mb-2 mb-lg-0">
            <li class="nav-item"> <a class="nav-link" href="/">হোম</a>
            </li>
            <li class="nav-item "> <a class="nav-link" href="/aboutus">আমাদের সম্পর্কে</a>
            </li>
            <li class="nav-item "> <a class="nav-link" href="/courses">কোর্সসমূহ</a>
            </li>
            <li class="nav-item "> <a class="nav-link" href="/services">সেবাসমূহ</a>
            </li>
            <li class="nav-item "> <a class="nav-link" href="/gallery">গ্যালারী</a>
            </li>
            <li class="nav-item "> <a class="nav-link" href="/contactus">যোগাযোগ</a>
            </li> 


          </ul>
          <a href="{{ url_for('applicationform') }}" class="btn btn-primary ">ভর্তির আবেদন</a>
          <a href="{{ url_for('studentlogin') }}" class="btn btn-outline-primary ms-2 ms-lg-3">লগইন</a>


        </div>
      </div>
    </nav>
  </header>
  <!-- /navigation -->

  <section class="page-header bg-tertiary">
    <div class="container">
      <div class="row">
        <div class="col-8 mx-auto text-center">

        </div>
      </div>
    </div>

  </section>

  <!-- ======= Contact Section ======= -->
  <section id="contact" class="section contact">
    <div class="container">
      <div class="section-title">
        <h1>যোগাযোগ</h1>
        <p>ভর্তি এবং যাবতীয় বিষয় সম্পর্কে আমাদের সাথে যোগাযোগ করুন।</p>
        <hr>
      </div>

      <div class="row mt-2">

        <div class="col-md-6 d-flex align-items-stretch">
          <div class="card info-box">
            <i class="bx bx-map"></i>
            <h3>আমাদের ঠিকানা</h3>
            <p>জয়নাবড়ি রোড, হেমায়েতপুর, সাভার, ঢাকা-১৩৪০।</p>
          </div>
        </div>

        <div class="col-md-6 mt-4 mt-md-0 d-flex align-items-stretch">
          <div class="card info-box">
            <i class="bx bx-share-alt"></i>
            <h3>সোশাল মিডিয়া</h3>
            <div class="social-links">
              <a href="https://www.facebook.com/mrshakil015" class="facebook" target="_blank"><i
                  class="bi bi-facebook"></i></a>
              <a href="https://www.linkedin.com/in/mrshakil015" class="linkedin" target="_blank"><i
                  class="bi bi-youtube"></i></a>
            </div>
          </div>
        </div>

        <div class="col-md-6 mt-4 d-flex align-items-stretch">
          <div class="card  info-box">
            <i class="bx bx-envelope"></i>
            <h3>ই-মেইল</h3>
            <p>rainbow.saif@gmail.com</p>
          </div>
        </div>
        <div class="col-md-6 mt-4 d-flex align-items-stretch">
          <div class="card info-box">
            <i class="bx bx-phone-call"></i>
            <h3>মোবাইল</h3>
            <p>+880 1716226026</p>
          </div>
        </div>
        <div class="location-section">
          <div class="col-md-12 d-flex align-items-stretch">
            <iframe
              src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3650.6729736420266!2d90.26838887419115!3d23.794656987078056!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3755eae58c2a7d19%3A0x9adaa5bc5720253f!2sRainbow%20Computer!5e0!3m2!1sen!2sbd!4v1710010898836!5m2!1sen!2sbd"
              frameborder="0" style="width: 100%; height: 290px;" allowfullscreen=""></iframe>
          </div>
        </div>
      </div>
    </div>
  </section><!-- End Contact Section -->

  <footer id="footer">

    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-3 col-md-6 footer-contact">
            <!-- <h3>Sobjanta</h3> -->
            <img src="../static/images/logo.png" class="img-fluid animated" alt="sobjantalogo">

          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>গুরুত্বপূর্ণ লিংক</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="{{url_for('index')}}">হোম</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="{{url_for('aboutus')}}">আমাদের সম্পর্কে</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="{{url_for('contactus')}}">যোগাযোগ</a></li>
            </ul>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>আমাদের সেবাসমূহ</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="{{url_for('courses')}}">কোর্সসমূহ</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="{{url_for('services')}}">সেবাসমূহ</a></li>
            </ul>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <!-- <h4>Our Social Networks</h4> -->
            <p>সর্বশেষ আপডেট, খবরের জন্য আমাদের সামাজিক মিডিয়া যোগ দিন। 📱💬 ফেসবুকে এবং ইউটিউবে আমাদের অনুসরণ করুন।
              আমাদের সাথে সংযুক্ত থাকুন!</p>
            <div class="social-links mt-3">

              <a href="https://www.facebook.com" target="_blank" class="facebook" aria-label="Facebook">
                <i class="bx bxl-facebook"></i>
              </a>

              <a href="https://www.youtube.com" target="_blank" class="youtube" aria-label="Youtube">
                <i class='bx bxl-youtube'></i>
              </a>

            </div>
          </div>

        </div>
      </div>
    </div>

    <div class="container footer-bottom clearfix">
      <div class="copyright">
        &copy; Copyright <strong><span>Rainbow Computer Point</span></strong>. All Rights Reserved
      </div>
      <!-- <div class="developer">
            Developed by <strong><a href="https://mrshakil015.github.io/" target="_blank">CodeMod</a></strong>
          </div> -->
    </div>
  </footer><!-- End Footer -->

  <!-- Bottom to Top Scroll -->
  <a href="#" id="back-to-top" class="back-to-top d-flex align-items-center justify-content-center">
    <i class="bi bi-arrow-up-short"></i>
  </a>

  <script>
    $(document).ready(function () {
      $(window).scroll(function () {
        if ($(this).scrollTop() > 50) {
          $('#back-to-top').css('visibility', 'visible');
        } else {
          $('#back-to-top').css('visibility', 'hidden');
        }
      });

      // scroll body to 0px on click
      $('#back-to-top').click(function () {
        $('body,html').animate({
          scrollTop: 0
        }, 400);
        return false;
      });
    });
  </script>


  <!-- # JS Plugins -->
  <script src="plugins/jquery/jquery.min.js"></script>
  <script src="plugins/bootstrap/bootstrap.min.js"></script>
  <script src="plugins/slick/slick.min.js"></script>
  <script src="plugins/scrollmenu/scrollmenu.min.js"></script>

  <!-- Main Script -->
  <script src="{{ url_for('static', filename='script.js') }}"></script>
  <script src="{{ url_for('static', filename='courseinfo.js') }}"></script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.3/js/bootstrap.min.js"
  integrity="sha512-ykZ1QQr0Jy/4ZkvKuqWn4iF3lqPZyij9iRv6sGqLRdTPkY69YX6+7wvVGmsdBbiIfN/8OdsI7HABjvEok6ZopQ=="
  crossorigin="anonymous" referrerpolicy="no-referrer"></script>

</body>

</html>