<!--Course 01 -->
<div class="col-lg-4 col-md-6">
    <div class="card card-item">
        <div class="view view-cascade overlay text-center">
            <img class="card-img-top" src="../static/images/msoffice.png" alt="">
            <hr>
        </div>
        <div class="card-body">
            <h4 class="card-title"><strong>Office Application Program</strong>
            </h4>
            <div class="card-info">
                <button class="btn btn-outline-primary">৩ মাস</button>
                <button class="btn btn-outline-primary">সপ্তাহে ৫ দিন</button>
                <button class="btn btn-outline-primary">১ ঘন্টা ৩০ মিনিট</button>
            </div>
            <p class="price">৳ ৩৮০০/-</p>
        </div>
        <div class="card-footer">
            <button class="btn btn-outline-primary">বিস্তারিত দেখুন</button>
        </div>
    </div>
</div>

<!--Course 02 -->
<div class="col-lg-4 col-md-6">
    <div class="card card-item">
        <div class="view view-cascade overlay text-center">
            <img class="card-img-top" src="../static/images/graphic.jpg" alt="">
            <hr>
        </div>
        <div class="card-body">
            <h4 class="card-title"><strong>Graphic Designing</strong>
            </h4>
            <div class="card-info">
                <button class="btn btn-outline-primary">৩ মাস</button>
                <button class="btn btn-outline-primary">সপ্তাহে ৩ দিন</button>
                <button class="btn btn-outline-primary">১ ঘন্টা ৩০ মিনিট</button>
            </div>
            <p class="price">৳ ৮০০০/-</p>
        </div>
        <div class="card-footer">
            <button class="btn btn-outline-primary">বিস্তারিত দেখুন</button>
        </div>
    </div>
</div>

<!--Course 03 -->
<div class="col-lg-4 col-md-6">
    <div class="card card-item">
        <div class="view view-cascade overlay text-center">
            <img class="card-img-top" src="../static/images/hardware.jpg" alt="">
            <hr>
        </div>
        <div class="card-body">
            <h4 class="card-title"><strong>Computer Hardware Program</strong>
            </h4>
            <div class="card-info">
                <button class="btn btn-outline-primary">৩ মাস</button>
                <button class="btn btn-outline-primary">সপ্তাহে ৩ দিন</button>
                <button class="btn btn-outline-primary">১ ঘন্টা ৩০ মিনিট</button>
            </div>
            <p class="price">৳ ৬০০০/-</p>
        </div>
        <div class="card-footer">
            <button class="btn btn-outline-primary">বিস্তারিত দেখুন</button>
        </div>
    </div>
</div>

<!--Course 04 -->
<div class="col-lg-4 col-md-6">
    <div class="card card-item">
        <div class="view view-cascade overlay text-center">
            <img class="card-img-top" src="../static/images/digitalmarketing.jpg" alt="">
            <hr>
        </div>
        <div class="card-body">
            <h4 class="card-title"><strong>Digital Marketing</strong>
            </h4>
            <div class="card-info">
                <button class="btn btn-outline-primary">৩ মাস</button>
                <button class="btn btn-outline-primary">সপ্তাহে ৩ দিন</button>
                <button class="btn btn-outline-primary">১ ঘন্টা ৩০ মিনিট</button>
            </div>
            <p class="price">৳ ৬০০০/-</p>
        </div>
        <div class="card-footer">
            <button class="btn btn-outline-primary">বিস্তারিত দেখুন</button>
        </div>
    </div>
</div>