<!DOCTYPE html>
<html lang="en-us">

<head>
    <meta charset="utf-8">
    <title>Rainbow Computer Point</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=5">
    <meta name="description" content="This is meta description">
    <meta name="author" content="Rainbow Computer Point">
    <link rel="shortcut icon" href="images/favicon.png" type="image/x-icon">
    <link rel="icon" href="images/favicon.png" type="image/x-icon">

    <!-- theme meta -->
    <meta name="theme-name" content="Rainbow Computer Point" />

    <!-- # Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap" rel="stylesheet">

    <!-- # CSS Plugins -->
    <link rel="stylesheet" href="plugins/slick/slick.css">
    <link rel="stylesheet" href="plugins/font-awesome/fontawesome.min.css">
    <link rel="stylesheet" href="plugins/font-awesome/brands.css">
    <link rel="stylesheet" href="plugins/font-awesome/solid.css">

    <!-- # Main Style Sheet -->
    <link rel="stylesheet" href="../static/style.css">
</head>

<body>

    <!-- navigation -->
    <header class="navigation bg-tertiary">
        <nav class="navbar navbar-expand-xl navbar-light text-center py-3">
            <div class="container">
                <a class="navbar-brand" href="index.html">
                    <img loading="prelaod" decoding="async" class="img-fluid" width="160"
                        src="../static/images/logo.png" alt="রেইনবো">
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation"> <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mx-auto mb-2 mb-lg-0">
                        <li class="nav-item"> <a class="nav-link" href="/">হোম</a>
                        </li>
                        <li class="nav-item "> <a class="nav-link" href="/aboutus">আমাদের সম্পর্কে</a>
                        </li>
                        <li class="nav-item "> <a class="nav-link" href="/courses">কোর্সসমূহ</a>
                        </li>
                        <li class="nav-item "> <a class="nav-link" href="services.html">আমাদের সেবাসমূহ</a>
                        </li>
                        <li class="nav-item "> <a class="nav-link" href="contact.html">যোগাযোগ করুন</a>
                        </li>
                        <!-- <li class="nav-item dropdown"> <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown"
                                role="button" data-bs-toggle="dropdown" aria-expanded="false">Pages</a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item " href="blog.html">Blog</a>
                                </li>
                                <li><a class="dropdown-item " href="blog-details.html">Blog Details</a>
                                </li>
                                <li><a class="dropdown-item " href="service-details.html">Service Details</a>
                                </li>
                                <li><a class="dropdown-item " href="faq.html">FAQ&#39;s</a>
                                </li>
                                <li><a class="dropdown-item " href="legal.html">Legal</a>
                                </li>
                                <li><a class="dropdown-item " href="terms.html">Terms &amp; Condition</a>
                                </li>
                                <li><a class="dropdown-item " href="privacy-policy.html">Privacy &amp; Policy</a>
                                </li>
                            </ul>
                        </li> -->
                    </ul>
                    <!-- account btn --> <a href="{{ url_for('admin_login') }}" class="btn btn-outline-primary">লগইন</a>
                    <!-- account btn -->
                    <!-- <a href="#!" class="btn btn-primary ms-2 ms-lg-3">সাইনআপ</a> -->
                </div>
            </div>
        </nav>
    </header>
    <!-- /navigation -->


    <section class="banner bg-tertiary position-relative overflow-hidden">
        <div class="container">
            <div class="row align-items-center justify-content-center">
                <div class="col-lg-6 mb-5 mb-lg-0">
                    <div class="block text-center text-lg-start pe-0 pe-xl-5">
                        <p class="rainbow-text0">গণপ্রজাতন্ত্রী বাংলাদেশ সরকার কর্তৃক অনুমোদিত</p>
                        <h1 class="rainbow-text1"><strong>রেইনবো</strong></h1>
                        <h2 class="rainbow-text2 mb-4">কম্পিউটার পয়েন্ট</h2>
                        <p class="mb-4">আমাদের প্রতিষ্ঠানের পক্ষ থেকে আপনাদের সকলকে জানাই আন্তরিক শুভেচ্ছা। আমরা দীর্ঘ
                            একযুগেরও বেশি সময় ধরে তথ্য ও প্রযুক্তির উন্নয়নে কাজ করে আসছি। আমাদের মূল লক্ষ্য বেকার
                            জনগোষ্ঠিকে প্রযুক্তিভিত্তিক আত্মনির্ভরশীল করে গড়ে তোলা এবং বাংলাদেশ সরকারের ডিজিটাল
                            বাংলাদেশকে স্মার্ট বাংলাদেশে রুপান্তর করা।</p>
                        <a type="button" class="btn btn-primary" href="#" data-bs-toggle="modal"
                            data-bs-target="#applyLoan">বিস্তারিত দেখুন <span style="font-size: 14px;" class="ms-2 fas fa-arrow-right"></span></a>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="ps-lg-5 text-center">
                        <img loading="lazy" decoding="async" src="../static/images/banner3.png" alt="banner image"
                            class="banner-img w-100">
                    </div>
                </div>
            </div>
        </div>

    </section>

    <section class="section course-section">
        <div class="container">
            <div class="row">
                <div class="section-title">
                    <h1>আমাদের কোর্সসমূহ</h1>
                    <p>সময়োপযোগী কোর্সসমূহ দিয়ে সাজানো হয়েছে আমাদের পাঠ্যসূচি, যা আপনাকে বিশ্বজুড়ে কর্মক্ষম করে গড়ে তুলবে</p>
                    <hr>
                </div>
                <!--For Page-->
                <!-- <div class="page"> -->
                <!--For Row containing all card-->
                <div class="row">

                    <!--Course 01 -->
                    <div class="col-lg-4 col-md-6">
                        <div class="card card-item">
                            <div class="view view-cascade overlay text-center">
                                <img class="card-img-top" src="../static/images/msoffice.png" alt="">
                                <hr>
                            </div>
                            <div class="card-body">
                                <h4 class="card-title"><strong>Office Application Program</strong>
                                </h4>
                                <div class="card-info">
                                    <button class="btn btn-outline-primary">৩ মাস</button>
                                    <button class="btn btn-outline-primary">সপ্তাহে ৫ দিন</button>
                                    <button class="btn btn-outline-primary">১ ঘন্টা ৩০ মিনিট</button>
                                </div>
                                <p class="price">৳ ৩৮০০/-</p>
                            </div>
                            <div class="card-footer">
                                <button class="btn btn-outline-primary">বিস্তারিত দেখুন</button>
                            </div>
                        </div>
                    </div>
                    
                    <!--Course 02 -->
                    <div class="col-lg-4 col-md-6">
                        <div class="card card-item">
                            <div class="view view-cascade overlay text-center">
                                <img class="card-img-top" src="../static/images/graphic.jpg" alt="">
                                <hr>
                            </div>
                            <div class="card-body">
                                <h4 class="card-title"><strong>Graphic Designing</strong>
                                </h4>
                                <div class="card-info">
                                    <button class="btn btn-outline-primary">৩ মাস</button>
                                    <button class="btn btn-outline-primary">সপ্তাহে ৩ দিন</button>
                                    <button class="btn btn-outline-primary">১ ঘন্টা ৩০ মিনিট</button>
                                </div>
                                <p class="price">৳ ৮০০০/-</p>
                            </div>
                            <div class="card-footer">
                                <button class="btn btn-outline-primary">বিস্তারিত দেখুন</button>
                            </div>
                        </div>
                    </div>

                    <!--Course 03 -->
                    <div class="col-lg-4 col-md-6">
                        <div class="card card-item">
                            <div class="view view-cascade overlay text-center">
                                <img class="card-img-top" src="../static/images/hardware.jpg" alt="">
                                <hr>
                            </div>
                            <div class="card-body">
                                <h4 class="card-title"><strong>Computer Hardware Program</strong>
                                </h4>
                                <div class="card-info">
                                    <button class="btn btn-outline-primary">৩ মাস</button>
                                    <button class="btn btn-outline-primary">সপ্তাহে ৩ দিন</button>
                                    <button class="btn btn-outline-primary">১ ঘন্টা ৩০ মিনিট</button>
                                </div>
                                <p class="price">৳ ৬০০০/-</p>
                            </div>
                            <div class="card-footer">
                                <button class="btn btn-outline-primary">বিস্তারিত দেখুন</button>
                            </div>
                        </div>
                    </div>

                    <!--Course 04 -->
                    <div class="col-lg-4 col-md-6">
                        <div class="card card-item">
                            <div class="view view-cascade overlay text-center">
                                <img class="card-img-top" src="../static/images/digitalmarketing.jpg" alt="">
                                <hr>
                            </div>
                            <div class="card-body">
                                <h4 class="card-title"><strong>Digital Marketing</strong>
                                </h4>
                                <div class="card-info">
                                    <button class="btn btn-outline-primary">৩ মাস</button>
                                    <button class="btn btn-outline-primary">সপ্তাহে ৩ দিন</button>
                                    <button class="btn btn-outline-primary">১ ঘন্টা ৩০ মিনিট</button>
                                </div>
                                <p class="price">৳ ৬০০০/-</p>
                            </div>
                            <div class="card-footer">
                                <button class="btn btn-outline-primary">বিস্তারিত দেখুন</button>
                            </div>
                        </div>
                    </div>






                </div>
                <!-- </div> -->
            </div>
        </div>
    </section>

    <section class="about-section section bg-tertiary position-relative overflow-hidden">
        <div class="container">
            <div class="row justify-content-center">
                <div class="section-title">
                    <h1>আমাদের সেবাসমূহ</h1>
                 <p>আমরা আমাদের প্রতিষ্ঠানে কম্পিউটার এবং অনলাইন সংক্রান্ত সকল প্রকার সেবা দিয়ে থাকি। </p> 
                    <hr>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="card card-item">
                        <div class="card-body">
                            <div class="rounded">
                                <span class="colored-box text-center h3">০১</span>
                                <h3 class="mb-3">কম্পিউটার প্রশিক্ষণ</h3>
                                <p>আমাদের প্রতিষ্ঠানে আমরা দক্ষ জনবল তৈরী করতে কম্পিউটারের বিভিন্ন কোর্সের উপর শিক্ষার্থীদের প্রশিক্ষণ দিয়ে থাকি।</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="card card-item">
                        <div class="card-body">
                            <div class="rounded px-4">
                                <span class="colored-box text-center h3">০২</span>
                                <h3 class="mb-3">কম্পিউটার সেলস এবং সার্ভিস</h3>
                                <p>আমরা গ্রাহকদের প্রয়োজনীয় সফটওয়্যার ও হার্ডওয়্যার পরামর্শ দিয়ে সঠিক সমাধান প্রদান করে থাকি এবং আমরা কম্পিউটার ও কম্পিউটারের যাবতীয় যন্ত্রপাতি বিক্রয় করে থাকি। </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="card card-item">
                        <div class="card-body">
                            <div class="rounded px-4">
                                <span class="colored-box text-center h3">০৩</span>
                                <h3 class="mb-3">অনলাইনে ভর্তি এবং চাকুরীর আবেদন</h3>
                                <p>আমাদের প্রতিষ্ঠানের পক্ষ থেকে আপনাদের</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="card card-item">
                        <div class="card-body">
                            <div class="rounded px-4">
                                <span class="colored-box text-center h3">০৪</span>
                                <h3 class="mb-3">NID Card সংক্রান্ত কাজ</h3>
                                <p>আমাদের প্রতিষ্ঠানের পক্ষ থেকে আপনাদের</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="card card-item">
                        <div class="card-body">
                            <div class="rounded px-4">
                                <span class="colored-box text-center h3">০৫</span>
                                <h3 class="mb-3">ভিসা চেক ও পাসপোর্টের আবেদন</h3>
                                <p>আমাদের প্রতিষ্ঠানের পক্ষ থেকে আপনাদের</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6">
                    <div class="card card-item">
                        <div class="card-body">
                            <div class="rounded px-4">
                                <span class="colored-box text-center h3">০৬</span>
                                <h3 class="mb-3">খাজনার রশিদ ও টাকা জমা</h3>
                                <p>অনলাইনের মাধ্যমে জমির খাজনার রশিদ এবং টাকা জমা দেওয়া হয়।</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6">
                    <div class="card card-item">
                        <div class="card-body">
                            <div class="rounded px-4">
                                <span class="colored-box text-center h3">০৭</span>
                                <h3 class="mb-3">কম্পোজ, বায়না ও চুক্তিপত্র দলিল</h3>
                                <p>আমাদের প্রতিষ্ঠানের পক্ষ থেকে আপনাদের</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6">
                    <div class="card card-item">
                        <div class="card-body">
                            <div class="rounded px-4">
                                <span class="colored-box text-center h3">০৮</span>
                                <h3 class="mb-3">ছবি ও ডকুমেন্ট প্রিন্ট</h3>
                                <p>আমাদের প্রতিষ্ঠানের পক্ষ থেকে আপনাদের</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6">
                    <div class="card card-item">
                        <div class="card-body">
                            <div class="rounded px-4">
                                <span class="colored-box text-center h3">০৯</span>
                                <h3 class="mb-3">TIN সার্টিফিকেট</h3>
                                <p>আমাদের প্রতিষ্ঠানের পক্ষ থেকে আপনাদের</p>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>

    <section class="section">
        <div class="container">
            <div class="row">
                <div class="section-title">
                    <h1>সফল ছাত্র/ছাত্রী</h1>
                    <p>আমাদের প্রতিষ্ঠান থেকে প্রশিক্ষণ শেষে সরকারের বিভিন্ন মন্ত্রণালয়/বিভাগ/জেলা/উপজেলায় চাকরি প্রাপ্তদের বর্তমান কর্মস্থল (আংশিক)</p>
                    <hr>
                </div>
                <!--For Page-->
                <!-- <div class="page"> -->
                <!--For Row containing all card-->
                <div class="row">

                    <!--Course 01 -->
                    <div class="col-lg-4 col-md-6">
                        <div class="card card-item">
                            <div class="view view-cascade overlay text-center">
                                <img class="card-img-top" src="../static/images/msoffice.png" alt="">
                                <hr>
                            </div>
                            <div class="card-body">
                                <h4 class="card-title"><strong>Office Application Program</strong>
                                </h4>
                                <div class="card-info">
                                    <button class="btn btn-outline-primary">৩ মাস</button>
                                    <button class="btn btn-outline-primary">সপ্তাহে ৫ দিন</button>
                                    <button class="btn btn-outline-primary">১ ঘন্টা ৩০ মিনিট</button>
                                </div>
                                <p class="price">৳ ৩৮০০/-</p>
                            </div>
                            <div class="card-footer">
                                <button class="btn btn-outline-primary">বিস্তারিত দেখুন</button>
                            </div>
                        </div>
                    </div>
                    
                   
                </div>
                <!-- </div> -->
            </div>
        </div>
    </section>

    <section class="homepage_tab position-relative">
        <div class="section container">
            <div class="row justify-content-center">
                <div class="col-lg-8 mb-4">
                    <div class="section-title text-center">
                        <p class="text-primary text-uppercase fw-bold mb-3">Difference Of Us</p>
                        <h1>Get Know The Basics Simple Pricing And Payments</h1>
                    </div>
                </div>
                <div class="col-lg-10">
                    <ul class="payment_info_tab nav nav-pills justify-content-center mb-4" id="pills-tab"
                        role="tablist">
                        <li class="nav-item m-2" role="presentation"> <a
                                class="nav-link btn btn-outline-primary effect-none text-dark active"
                                id="pills-how-much-can-i-recive-tab" data-bs-toggle="pill"
                                href="#pills-how-much-can-i-recive" role="tab"
                                aria-controls="pills-how-much-can-i-recive" aria-selected="true">How Much Can I
                                Recive?</a>
                        </li>
                        <li class="nav-item m-2" role="presentation"> <a
                                class="nav-link btn btn-outline-primary effect-none text-dark "
                                id="pills-how-much-does-it-costs-tab" data-bs-toggle="pill"
                                href="#pills-how-much-does-it-costs" role="tab"
                                aria-controls="pills-how-much-does-it-costs" aria-selected="true">How Much Does It
                                Costs?</a>
                        </li>
                        <li class="nav-item m-2" role="presentation"> <a
                                class="nav-link btn btn-outline-primary effect-none text-dark "
                                id="pills-how-do-i-repay-tab" data-bs-toggle="pill" href="#pills-how-do-i-repay"
                                role="tab" aria-controls="pills-how-do-i-repay" aria-selected="true">How Do I Repay?</a>
                        </li>
                    </ul>
                    <div class="rounded bg-white p-5 tab-content" id="pills-tabContent">
                        <div class="tab-pane fade show active" id="pills-how-much-can-i-recive" role="tabpanel"
                            aria-labelledby="pills-how-much-can-i-recive-tab">
                            <div class="row align-items-center">
                                <div class="col-md-6 order-1 order-md-0">
                                    <div class="content-block">
                                        <h3 class="mb-4">How Much Can I Recive?</h3>
                                        <div class="content">
                                            <p>Lorem ipsum dolor sit amet, consec tetasssur adipiscing elit. Tellus
                                                integer proin nisl pretium,
                                                vestibulum dictum blandit risus. Nisl commodo</p>
                                            <p>turpis vivamus donec. Id congue vesti bualum odio dignissim at quisque
                                                viverra. Non semper in sed
                                                quisque dui. Platea posuere ullamcorper id fames ut sed urna cursus
                                                eget. Neque, vel</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 order-0 order-md-1 mb-5 mt-md-0">
                                    <div class="image-block text-center">
                                        <img loading="lazy" decoding="async" src="images/payment-info.png"
                                            alt="How Much Can I Recive?" class="img-fluid">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade " id="pills-how-much-does-it-costs" role="tabpanel"
                            aria-labelledby="pills-how-much-does-it-costs-tab">
                            <div class="row align-items-center">
                                <div class="col-md-6 order-1 order-md-0">
                                    <div class="content-block">
                                        <h3 class="mb-4">How Much Does It Costs?</h3>
                                        <div class="content">
                                            <p>Lorem ipsum dolor sit amet, consec tetasssur adipiscing elit. Tellus
                                                integer proin nisl pretium,
                                                vestibulum dictum blandit risus. Nisl commodo</p>
                                            <p>turpis vivamus donec. Id congue vesti bualum odio dignissim at quisque
                                                viverra. Non semper in sed
                                                quisque dui. Platea posuere ullamcorper id fames ut sed urna cursus
                                                eget. Neque, vel</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 order-0 order-md-1 mb-5 mt-md-0">
                                    <div class="image-block text-center">
                                        <img loading="lazy" decoding="async" src="images/illustration-2.png"
                                            alt="How Much Does It Costs?" class="img-fluid">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade " id="pills-how-do-i-repay" role="tabpanel"
                            aria-labelledby="pills-how-do-i-repay-tab">
                            <div class="row align-items-center">
                                <div class="col-md-6 order-1 order-md-0">
                                    <div class="content-block">
                                        <h3 class="mb-4">How Do I Repay?</h3>
                                        <div class="content">
                                            <p>Lorem ipsum dolor sit amet, consec tetasssur adipiscing elit. Tellus
                                                integer proin nisl pretium,
                                                vestibulum dictum blandit risus. Nisl commodo</p>
                                            <p>turpis vivamus donec. Id congue vesti bualum odio dignissim at quisque
                                                viverra. Non semper in sed
                                                quisque dui. Platea posuere ullamcorper id fames ut sed urna cursus
                                                eget. Neque, vel</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 order-0 order-md-1 mb-5 mt-md-0">
                                    <div class="image-block text-center">
                                        <img loading="lazy" decoding="async" src="images/illustration-1.png"
                                            alt="How Do I Repay?" class="img-fluid">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="section testimonials overflow-hidden bg-tertiary">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-6">
                    <div class="section-title text-center">
                        <p class="text-primary text-uppercase fw-bold mb-3">Our Service Holders</p>
                        <h1 class="mb-4">Trusted By 1.2K+ Peoples</h1>
                        <p class="lead mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing. egestas cursus
                            pellentesque dignissim
                            dui, congue. Vel etiam ut</p>
                    </div>
                </div>
            </div>
            <div class="row position-relative">
                <div class="col-lg-4 col-md-6 pt-1">
                    <div class="shadow rounded bg-white p-4 mt-4">
                        <div class="d-block d-sm-flex align-items-center mb-3">
                            <img loading="lazy" decoding="async" src="images/testimonials/01.jpg" alt="Leslie Alexander"
                                class="img-fluid" width="65" height="66">
                            <div class="mt-3 mt-sm-0 ms-0 ms-sm-3">
                                <h4 class="h5 mb-1">Leslie Alexander</h4>
                                <p class="mb-0">Web Designer</p>
                            </div>
                        </div>
                        <div class="content">Lorem ipsum dolor <a href="http://google.com">@reamansimond</a> demina
                            egestas sit purus
                            felis arcu. Vitae, turpisds tortr etiam faucibus ac suspendisse.</div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 pt-1">
                    <div class="shadow rounded bg-white p-4 mt-4">
                        <div class="d-block d-sm-flex align-items-center mb-3">
                            <img loading="lazy" decoding="async" src="images/testimonials/02.jpg" alt="Arlene McCoy"
                                class="img-fluid" width="65" height="66">
                            <div class="mt-3 mt-sm-0 ms-0 ms-sm-3">
                                <h4 class="h5 mb-1">Arlene McCoy</h4>
                                <p class="mb-0">Content Strategist</p>
                            </div>
                        </div>
                        <div class="content">Lorem ipsum dolor <a href="http://google.com">@reamansimond</a> demina
                            egestas sit purus
                            felis arcu. Vitae, turpisds tortr etiam faucibus ac suspendisse.</div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 pt-1">
                    <div class="shadow rounded bg-white p-4 mt-4">
                        <div class="d-block d-sm-flex align-items-center mb-3">
                            <img loading="lazy" decoding="async" src="images/testimonials/03.jpg" alt="Marvin McKinney"
                                class="img-fluid" width="65" height="66">
                            <div class="mt-3 mt-sm-0 ms-0 ms-sm-3">
                                <h4 class="h5 mb-1">Marvin McKinney</h4>
                                <p class="mb-0">Video Game Writer</p>
                            </div>
                        </div>
                        <div class="content">Lorem ipsum dolor <a href="http://google.com">@reamansimond</a> demina
                            egestas sit purus
                            felis arcu. Vitae, turpisds tortr etiam faucibus ac suspendisse.</div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 pt-1">
                    <div class="shadow rounded bg-white p-4 mt-4">
                        <div class="d-block d-sm-flex align-items-center mb-3">
                            <img loading="lazy" decoding="async" src="images/testimonials/04.jpg" alt="Devon Lane"
                                class="img-fluid" width="65" height="66">
                            <div class="mt-3 mt-sm-0 ms-0 ms-sm-3">
                                <h4 class="h5 mb-1">Devon Lane</h4>
                                <p class="mb-0">Nursing Assistant</p>
                            </div>
                        </div>
                        <div class="content">Lorem ipsum dolor <a href="http://google.com">@reamansimond</a> demina
                            egestas sit purus
                            felis arcu. Vitae, turpisds tortr etiam faucibus ac suspendisse.</div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 pt-1">
                    <div class="shadow rounded bg-white p-4 mt-4">
                        <div class="d-block d-sm-flex align-items-center mb-3">
                            <img loading="lazy" decoding="async" src="images/testimonials/05.jpg" alt="Bessie Cooper"
                                class="img-fluid" width="65" height="66">
                            <div class="mt-3 mt-sm-0 ms-0 ms-sm-3">
                                <h4 class="h5 mb-1">Bessie Cooper</h4>
                                <p class="mb-0">Video Game Writer</p>
                            </div>
                        </div>
                        <div class="content">Lorem ipsum dolor <a href="http://google.com">@reamansimond</a> demina
                            egestas sit purus
                            felis arcu. Vitae, turpisds tortr etiam faucibus ac suspendisse.</div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 pt-1">
                    <div class="shadow rounded bg-white p-4 mt-4">
                        <div class="d-block d-sm-flex align-items-center mb-3">
                            <img loading="lazy" decoding="async" src="images/testimonials/06.jpg" alt="Kathryn Murphy"
                                class="img-fluid" width="65" height="66">
                            <div class="mt-3 mt-sm-0 ms-0 ms-sm-3">
                                <h4 class="h5 mb-1">Kathryn Murphy</h4>
                                <p class="mb-0">Film Critic</p>
                            </div>
                        </div>
                        <div class="content">Lorem ipsum dolor <a href="http://google.com">@reamansimond</a> demina
                            egestas sit purus
                            felis arcu. Vitae, turpisds tortr etiam faucibus ac suspendisse.</div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="section">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12">
                    <div class="section-title text-center mb-5 pb-2">
                        <p class="text-primary text-uppercase fw-bold mb-3">Questions You Have</p>
                        <h1>Frequently Asked Questions</h1>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="accordion shadow rounded py-5 px-0 px-lg-4 bg-white position-relative"
                        id="accordionFAQ">
                        <div class="accordion-item p-1 mb-2">
                            <h2 class="accordion-header accordion-button h5 border-0 active"
                                id="heading-ebd23e34fd2ed58299b32c03c521feb0b02f19d9" type="button"
                                data-bs-toggle="collapse"
                                data-bs-target="#collapse-ebd23e34fd2ed58299b32c03c521feb0b02f19d9" aria-expanded="true"
                                aria-controls="collapse-ebd23e34fd2ed58299b32c03c521feb0b02f19d9">Can I apply if my
                                credit isn&rsquo;t
                                perfect?
                            </h2>
                            <div id="collapse-ebd23e34fd2ed58299b32c03c521feb0b02f19d9"
                                class="accordion-collapse collapse border-0 show"
                                aria-labelledby="heading-ebd23e34fd2ed58299b32c03c521feb0b02f19d9"
                                data-bs-parent="#accordionFAQ">
                                <div class="accordion-body py-0 content">The difference between and premium product
                                    consist number of
                                    components, plugins, page in each. The Free versions contain only a few elements and
                                    pages that.</div>
                            </div>
                        </div>
                        <div class="accordion-item p-1 mb-2">
                            <h2 class="accordion-header accordion-button h5 border-0 "
                                id="heading-a443e01b4db47b3f4a1267e10594576d52730ec1" type="button"
                                data-bs-toggle="collapse"
                                data-bs-target="#collapse-a443e01b4db47b3f4a1267e10594576d52730ec1"
                                aria-expanded="false" aria-controls="collapse-a443e01b4db47b3f4a1267e10594576d52730ec1">
                                How do I know that I have been
                                approved?
                            </h2>
                            <div id="collapse-a443e01b4db47b3f4a1267e10594576d52730ec1"
                                class="accordion-collapse collapse border-0 "
                                aria-labelledby="heading-a443e01b4db47b3f4a1267e10594576d52730ec1"
                                data-bs-parent="#accordionFAQ">
                                <div class="accordion-body py-0 content">The difference between and premium product
                                    consist number of
                                    components, plugins, page in each. The Free versions contain only a few elements and
                                    pages that.</div>
                            </div>
                        </div>
                        <div class="accordion-item p-1 mb-2">
                            <h2 class="accordion-header accordion-button h5 border-0 "
                                id="heading-4b82be4be873c8ad699fa97049523ac86b67a8bd" type="button"
                                data-bs-toggle="collapse"
                                data-bs-target="#collapse-4b82be4be873c8ad699fa97049523ac86b67a8bd"
                                aria-expanded="false" aria-controls="collapse-4b82be4be873c8ad699fa97049523ac86b67a8bd">
                                Do I need to fax or email any
                                documents?
                            </h2>
                            <div id="collapse-4b82be4be873c8ad699fa97049523ac86b67a8bd"
                                class="accordion-collapse collapse border-0 "
                                aria-labelledby="heading-4b82be4be873c8ad699fa97049523ac86b67a8bd"
                                data-bs-parent="#accordionFAQ">
                                <div class="accordion-body py-0 content">The difference between and premium product
                                    consist number of
                                    components, plugins, page in each. The Free versions contain only a few elements and
                                    pages that.</div>
                            </div>
                        </div>
                        <div class="accordion-item p-1 mb-2">
                            <h2 class="accordion-header accordion-button h5 border-0 "
                                id="heading-3e13e9676a9cd6a6f8bfbe6e1e9fc0881ef247b3" type="button"
                                data-bs-toggle="collapse"
                                data-bs-target="#collapse-3e13e9676a9cd6a6f8bfbe6e1e9fc0881ef247b3"
                                aria-expanded="false" aria-controls="collapse-3e13e9676a9cd6a6f8bfbe6e1e9fc0881ef247b3">
                                Do you provide loans to military
                                personnel?
                            </h2>
                            <div id="collapse-3e13e9676a9cd6a6f8bfbe6e1e9fc0881ef247b3"
                                class="accordion-collapse collapse border-0 "
                                aria-labelledby="heading-3e13e9676a9cd6a6f8bfbe6e1e9fc0881ef247b3"
                                data-bs-parent="#accordionFAQ">
                                <div class="accordion-body py-0 content">The difference between and premium product
                                    consist number of
                                    components, plugins, page in each. The Free versions contain only a few elements and
                                    pages that.</div>
                            </div>
                        </div>
                        <div class="accordion-item p-1 mb-2">
                            <h2 class="accordion-header accordion-button h5 border-0 "
                                id="heading-0c2f829793a1f0562fea97120357dd2d43319164" type="button"
                                data-bs-toggle="collapse"
                                data-bs-target="#collapse-0c2f829793a1f0562fea97120357dd2d43319164"
                                aria-expanded="false" aria-controls="collapse-0c2f829793a1f0562fea97120357dd2d43319164">
                                Can I remove footer credit purchase ?
                            </h2>
                            <div id="collapse-0c2f829793a1f0562fea97120357dd2d43319164"
                                class="accordion-collapse collapse border-0 "
                                aria-labelledby="heading-0c2f829793a1f0562fea97120357dd2d43319164"
                                data-bs-parent="#accordionFAQ">
                                <div class="accordion-body py-0 content">The difference between and premium product
                                    consist number of
                                    components, plugins, page in each. The Free versions contain only a few elements and
                                    pages that.</div>
                            </div>
                        </div>
                        <div class="accordion-item p-1 mb-2">
                            <h2 class="accordion-header accordion-button h5 border-0 "
                                id="heading-8fe6730e26db16f15763887c30a614caa075f518" type="button"
                                data-bs-toggle="collapse"
                                data-bs-target="#collapse-8fe6730e26db16f15763887c30a614caa075f518"
                                aria-expanded="false" aria-controls="collapse-8fe6730e26db16f15763887c30a614caa075f518">
                                What is the difference the free
                                versions?
                            </h2>
                            <div id="collapse-8fe6730e26db16f15763887c30a614caa075f518"
                                class="accordion-collapse collapse border-0 "
                                aria-labelledby="heading-8fe6730e26db16f15763887c30a614caa075f518"
                                data-bs-parent="#accordionFAQ">
                                <div class="accordion-body py-0 content">The difference between and premium product
                                    consist number of
                                    components, plugins, page in each. The Free versions contain only a few elements and
                                    pages that.</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 mt-4 mt-lg-0">
                    <div class="shadow rounded py-5 px-4 ms-0 ms-lg-4 bg-white position-relative">
                        <div class="block mx-0 mx-lg-3 mt-0">
                            <h4 class="h5">Still Have Questions?</h4>
                            <div class="content">Call Us We Will Be Happy To Help
                                <br> <a href="tel:+3301563965">+3301563965</a>
                                <br>Monday - Friday
                                <br>9AM TO 8PM Eastern Time
                            </div>
                        </div>
                        <div class="block mx-0 mx-lg-3 mt-4">
                            <h4 class="h5">Canada Office</h4>
                            <div class="content">231 Ross Street.
                                <br>K7A 1C2.
                                <br>Smiths Falls
                            </div>
                        </div>
                        <div class="block mx-0 mx-lg-3 mt-4">
                            <h4 class="h5">UK Office</h4>
                            <div class="content">57 Folkestone Road.
                                <br>AB54 5XQ,
                                <br>Winston
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <footer class="section-sm bg-tertiary">
        <div class="container">
            <div class="row justify-content-between">
                <div class="col-lg-2 col-md-4 col-6 mb-4">
                    <div class="footer-widget">
                        <h5 class="mb-4 text-primary font-secondary">Service</h5>
                        <ul class="list-unstyled">
                            <li class="mb-2"><a href="service-details.html">Personal loans</a>
                            </li>
                            <li class="mb-2"><a href="service-details.html">Home Equity Loans</a>
                            </li>
                            <li class="mb-2"><a href="service-details.html">Student Loans</a>
                            </li>
                            <li class="mb-2"><a href="service-details.html">Mortgage Loans</a>
                            </li>
                            <li class="mb-2"><a href="service-details.html">Payday Loans</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-2 col-md-4 col-6 mb-4">
                    <div class="footer-widget">
                        <h5 class="mb-4 text-primary font-secondary">About</h5>
                        <ul class="list-unstyled">
                            <li class="mb-2"><a href="#!">Benefits</a>
                            </li>
                            <li class="mb-2"><a href="#!">Careers</a>
                            </li>
                            <li class="mb-2"><a href="#!">Our Story</a>
                            </li>
                            <li class="mb-2"><a href="#!">Team</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-2 col-md-4 col-6 mb-4">
                    <div class="footer-widget">
                        <h5 class="mb-4 text-primary font-secondary">Help</h5>
                        <ul class="list-unstyled">
                            <li class="mb-2"><a href="contact.html">Contact Us</a>
                            </li>
                            <li class="mb-2"><a href="faq.html">FAQs</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-4 col-md-12 newsletter-form">
                    <div style="background-color: #F4F4F4; padding: 35px;">
                        <h5 class="mb-4 text-primary font-secondary">Subscribe</h5>
                        <div class="pe-0 pe-xl-5">
                            <form action="#!" method="post" name="mc-embedded-subscribe-form" target="_blank">
                                <div class="input-group mb-3">
                                    <input type="text" class="form-control shadow-none bg-white border-end-0"
                                        placeholder="Email address"> <span class="input-group-text border-0 p-0">
                                        <button class="input-group-text border-0 bg-primary" type="submit"
                                            name="subscribe" aria-label="Subscribe for Newsletter"><i
                                                class="fas fa-arrow-right"></i></button>
                                    </span>
                                </div>
                                <div style="position: absolute; left: -5000px;" aria-hidden="true">
                                    <input type="text" name="b_463ee871f45d2d93748e77cad_a0a2c6d074" tabindex="-1">
                                </div>
                            </form>
                        </div>
                        <p class="mb-0">Lorem ipsum dolor sit amet, rdghds consetetur sadipscing elitr, sed diam nonumy
                            eirmod tempor invidunt ut labore et dolore magna aliquyam erat</p>
                    </div>
                </div>
            </div>
            <div class="row align-items-center mt-5 text-center text-md-start">
                <div class="col-lg-4">
                    <a href="index.html">
                        <img loading="prelaod" decoding="async" class="img-fluid" width="160" src="images/logo.png"
                            alt="Rainbow">
                    </a>
                </div>
                <div class="col-lg-4 col-md-6 mt-4 mt-lg-0">
                    <ul class="list-unstyled list-inline mb-0 text-lg-center">
                        <li class="list-inline-item me-4"><a class="text-black" href="privacy-policy.html">Privacy
                                Policy</a>
                        </li>
                        <li class="list-inline-item me-4"><a class="text-black" href="terms.html">Terms &amp;
                                Conditions</a>
                        </li>
                    </ul>
                </div>
                <div class="col-lg-4 col-md-6 text-md-end mt-4 mt-md-0">
                    <ul class="list-unstyled list-inline mb-0 social-icons">
                        <li class="list-inline-item me-3"><a title="Explorer Facebook Profile" class="text-black"
                                href="https://facebook.com/"><i class="fab fa-facebook-f"></i></a>
                        </li>
                        <li class="list-inline-item me-3"><a title="Explorer Twitter Profile" class="text-black"
                                href="https://twitter.com/"><i class="fab fa-twitter"></i></a>
                        </li>
                        <li class="list-inline-item me-3"><a title="Explorer Instagram Profile" class="text-black"
                                href="https://instagram.com/"><i class="fab fa-instagram"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>


    <!-- # JS Plugins -->
    <script src="plugins/jquery/jquery.min.js"></script>
    <script src="plugins/bootstrap/bootstrap.min.js"></script>
    <script src="plugins/slick/slick.min.js"></script>
    <script src="plugins/scrollmenu/scrollmenu.min.js"></script>

    <!-- Main Script -->
    <script src="js/script.js"></script>

</body>

</html>