<!doctype html>
<html lang="en">

<head>
    <title>Admin Courses - Rainbow Computer Point</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">

    <!-- # Sweet Alert CDN -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11.8.0/dist/sweetalert2.min.css">

    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <!-- # Main Style Sheet -->

    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="../static/css/admincourse.css">
    <style>
        body {
            font-family: Anek Bangla;
        }

        table {
            font-family: Anek Bangla;
            border-collapse: collapse;
            width: 100%;
        }

        td,
        th {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 3px;
        }

        tr:nth-child(even) {
            background-color: #e7e9eb;
        }

        tbody {
            font-weight: normal;
        }

        tbody th {
            padding: 0;
        }

        table {
            width: 100%;
            table-layout: auto;
        }
        #pendingstudent_filter {
            float: right;
        }

        #pendingstudent_paginate {
            float: right;
        }

        label {
            display: inline-flex;
            margin-bottom: .5rem;
            margin-top: .5rem;
            font-weight: normal;

        }
    </style>
</head>

<body>
    <!-- navigation -->
    <header class="navigation bg-tertiary">
        <nav class="navbar navbar-expand-xl navbar-light text-center py-3">
            <div class="container">
                <a class="navbar-brand" href="/">
                    <img loading="prelaod" decoding="async" class="img-fluid" width="160"
                        src="../static/images/logo.png" alt="রেইনবো">
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation"> <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mx-auto mb-2 mb-lg-0">
                        
                        <li class="nav-item "> <a class="nav-link" href="/admincourse">কোর্সসমূহ</a>
                        </li>
                        <li class="nav-item "> <a class="nav-link" href="/adminservices">সেবাসমূহ</a>
                        </li>
                        <li class="nav-item "> <a class="nav-link" href="/studentsinfo">শিক্ষার্থী</a>
                        </li>
                    </ul>
                    <!-- account btn --> 
                    <a class="btn btn-outline-primary m-2" href="/admindashboard">ড্যাশবোর্ড</a>
                    <a href="{{ url_for('admin_login') }}" class="btn btn-outline-primary">লগ
                        আউট</a>
                </div>
            </div>
        </nav>
    </header>
    <!-- /navigation -->


    <!--==============course Status==========-->
    <section class="section course-section">
        <div class="container mt-5">
            <div class="row">

                <div class="col-lg-12 col-xl-12 col-sm-12">
                    <div class="card shadow">
                        <div class="card-header">
                            <div class="row justify-content-between ml-3 mr-3">
                                <h5 class="text-primary"><strong>আবেদনকৃত শিক্ষার্থী<strong></h5>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="container course-list">
                                <div class="row">
                                    <div class="col-12 mb-3 mb-lg-5">
                                        <div class="overflow-hidden card table-nowrap table-card">

                                            <div class="table-responsive">
                                                <table id="pendingstudent" class="table table-striped table-bordered"
                                                    style="width:100%">
                                                    <thead>
                                                        <tr>
                                                            <th>Action</th>
                                                            <th>Student ID</th>
                                                            <th>Course</th>
                                                            <th>Name</th>
                                                            <th>Date of Birth</th>
                                                            <th>Gender</th>
                                                            <th>Mobile</th>
                                                            <th>Email</th>
                                                            <th>Address</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody id="pendingstudent-table-body">

                                                    </tbody>
                                                    <script>
                                                        fetch('/pendingstudent_infodata')
                                                            .then(response => response.json())
                                                            .then(data => {
                                                                const tbody = document.getElementById('pendingstudent-table-body');
                                                                data.forEach(row => {
                                                                    const tr = document.createElement('tr');
                                                                    console.log(row.gender)
                                                                    console.log(tbody)
                                                                    tr.innerHTML = `
                                                                    <td class="text-end">
                                                                            <div class="dropdown">
                                                                                <button class="btn btn-sm btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                                                    Action
                                                                                </button>
                                                                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                                                                    <a class="dropdown-item update-pendingstudent" data-pendingstudent-id="${row.studentid}" data-toggle="modal" data-target="#updatependingstudentModal">Update pendingstudent</a>
                                                                                    <a class="dropdown-item delete-pendingstudent" data-pendingstudent-id="${row.studentid}" data-toggle="modal" data-target="#deleteConfirmationModal">Delete pendingstudent</a>
                                                                                </div>
                                                                            </div>
                                                                        </td>
                                                                        <td>${row.studentid}</td>
                                                            <td>${row.coursename}</td>
                                                            <td>${row.studentname}</td>
                                                            <td>${row.dob}</td>
                                                            <td>${row.gender}</td>
                                                            <td>${row.mobile}</td>
                                                            <td>${row.email}</td>
                                                            <td>${row.address}</td>
                                                                        
                                                                    `;
                                                                    tbody.appendChild(tr);
                                                                });

                                                                // Event listener for update pendingstudent action
                                                                document.querySelectorAll('.update-pendingstudent').forEach(item => {
                                                                    item.addEventListener('click', event => {
                                                                        const pendingstudentId = event.target.getAttribute('data-pendingstudent-id');
                                                                        console.log("Update id: ", pendingstudentId);
                                                                        fetch(`/get_pendingstudent/${pendingstudentId}`)
                                                                            .then(response => response.json())
                                                                            .then(pendingstudent => {
                                                                                console.log("Pending dfd: ", pendingstudent);
                                                                                // Populate the modal input fields with pendingstudent data
                                                                                document.getElementById('update_pendingstudentid').value  = pendingstudent.studentid;
                                                                                // console.log(pendingstudent.studentid);
                                                                                document.getElementById('update_pendingstudentcoursename').value = pendingstudent.coursename;
                                                                                document.getElementById('update_pendingstudentname').value = pendingstudent.studentname;
                                                                                
                                                                                document.getElementById('update_pendingstudentfathername').value = pendingstudent.fathername;
                                                                                document.getElementById('update_pendingstudentmothername').value = pendingstudent.mothername;
                                                                                document.getElementById('update_pendingstudentemail').value = pendingstudent.email;
                                                                                document.getElementById('update_pendingstudentmobile').value = pendingstudent.mobile;
                                                                                document.getElementById('update_pendingstudentgender').value = pendingstudent.gender;
                                                                                document.getElementById('update_pendingstudentdob').value = pendingstudent.dob;
                                                                                document.getElementById('update_pendingstudentaddress').value = pendingstudent.address;
                                                                                // Checking the value of Coursename
                                                                                let CourseFee = 0
                                                                                
                                                                                if (pendingstudent.coursename === "Office Application Program") {
                                                                                    CourseFee = 3800;
                                                                                } else if (pendingstudent.coursename=== "Graphic Designing") {
                                                                                    CourseFee = 8000;
                                                                                }else if (pendingstudent.coursename=== "Digital Marketing") {
                                                                                    CourseFee = 8000;
                                                                                }
                                                                                document.getElementById('update_pendingstudentcoursefee').value = CourseFee;
                                                                                
                                                                                document.getElementById('update_pendingstudentphoto').value = pendingstudent.studentphoto;
                                                                                // document.getElementById('test_id').value = pendingstudent.email;
                                                                                
                                                               
                                                                                // Show the update modal
                                                                                $('#updatependingstudentModal').modal('show');
                                                                            })
                                                                            .catch(error => console.error('Error fetching pendingstudent data:', error));
                                                                    });
                                                                });

                                                                // Event listener for delete pendingstudent confirmation
                                                                document.querySelectorAll('.delete-pendingstudent').forEach(item => {
                                                                    item.addEventListener('click', event => {
                                                                        const pendingstudentId = event.target.getAttribute('data-pendingstudent-id');
                                                                        console.log("Delete id: ", pendingstudentId);
                                                                        const confirmpendingstudentDeleteButton = document.getElementById('confirmpendingstudentDeleteButton');

                                                                        confirmpendingstudentDeleteButton.addEventListener('click', () => {
                                                                            // Perform the deletion process, either by making an AJAX request or redirecting to a delete route
                                                                            deletependingstudent(pendingstudentId);
                                                                        });
                                                                    });
                                                                });
                                                            })
                                                            .catch(error => console.error('Error fetching data:', error));

                                                        function deletependingstudent(pendingstudentId) {
                                                            fetch(`/delete_pendingstudent/${pendingstudentId}`, {
                                                                method: 'DELETE'
                                                            })
                                                                .then(response => {
                                                                    if (response.ok) {
                                                                        Swal.fire({
                                                                            title: "Good job!",
                                                                            text: "pendingstudent deleted successfully",
                                                                            icon: "success"
                                                                        });
                                                                        location.reload();
                                                                    } else {
                                                                        Swal.fire({
                                                                            title: "Opps...!",
                                                                            text: "Failed to delete pendingstudent!",
                                                                            icon: "error"
                                                                        });
                                                                    }
                                                                })
                                                                .catch(error => console.error('Error deleting pendingstudent:', error));
                                                        }
                                                    </script>
                                                </table>
                                            </div>

                                            <!-- JavaScript to handle click events and print student ID -->
                                            <script>
                                                $(document).ready(function () {
                                                    $('.dropdown-item').click(function () {
                                                        var studentId = $(this).data('pendingstudent-id');
                                                    });
                                                });
                                            </script>

                                        </div>
                                    </div>
                                </div>

                            </div>

                        </div>
                    </div>
                </div>

            </div>

            <!-- Update pendingstudent -->
            <div class="modal fade" id="updatependingstudentModal" tabindex="-1"
                aria-labelledby="updatependingstudentModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="updatependingstudentModalLabel">Update Applied Student</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <form id="update-pendingstudent-form" role="form" action="/update_pendingstudent"
                                method="post" enctype="multipart/form-data">
                                <div class="controls">
                                    <div class="row">
                                        <input type="hidden" id="update_pendingstudentid" name="update_pendingstudentid">
                                        <input type="hidden" id="update_pendingstudentphoto" name="update_pendingstudentphoto">
                                        <div class="col-lg-6 col-md-6 col-sm-12">
                                            <div class="form-group">
                                                <label for="update_pendingstudentrollno">রোল নং *</label>
                                                <input type="text"
                                                    name="update_pendingstudentrollno" class="form-control"
                                                    placeholder="Student Roll No" required="required">
                                            </div>
                                        </div>
                                        <div class="col-lg-6 col-md-6 col-sm-12">
                                            <div class="form-group">
                                                <label for="coursename">কোর্স সিলেক্ট করুন *</label>
                                                <select id="update_pendingstudentcoursename"
                                                    name="update_pendingstudentcoursename" class="form-control"
                                                    required="required" data-error="Select the Course.">
                                                    <option value="" selected disabled>--Select Course--</option>
                                                    <option>Office Application Program</option>
                                                    <option>Graphic Designing</option>
                                                    <option>Digital Marketing</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-lg-6 col-md-6 col-sm-12">
                                            <div class="form-group">
                                                <label for="update_pendingstudentgender">ব্যাচ *</label>
                                                <select name="update_pendingstudentbatch" class="form-control"
                                                required="required" data-error="Select the Batch">
                                                <option value="" selected disabled>--Select Batch--</option>
                                                <option>10:00 AM</option>
                                                <option>11:30 AM</option>
                                                <option>03:00 PM</option>
                                                <option>04:30 PM</option>
                                                <option>06:00 PM</option>
                                                <option>08:00 PM</option>
                                                <option>Other</option>
                                            </select>
                                            </div>
                                        </div>
                                        <div class="col-lg-6 col-md-6 col-sm-12">
                                            <div class="form-group">
                                                <label for="update_pendingstudentgender">সেকশন *</label>
                                                <select name="update_pendingstudentsection" class="form-control"
                                                required="required" data-error="Select the Section">
                                                <option value="" selected disabled>--Select Section--</option>
                                                <option>A</option>
                                                <option>B</option>
                                            </select>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-lg-6 col-md-6 col-sm-12">
                                            <div class="form-group">
                                                <label for="update_pendingstudentname">শিক্ষার্থীর নাম *</label>
                                                <input id="update_pendingstudentname" type="text"
                                                    name="update_pendingstudentname" class="form-control"
                                                    placeholder="Student Name" required="required">
                                            </div>
                                        </div>
                                        <div class="col-lg-6 col-md-6 col-sm-12">
                                            <div class="form-group">
                                                <label for="update_pendingstudentfathername">পিতার নাম *</label>
                                                <input id="update_pendingstudentfathername" type="text"
                                                    name="update_pendingstudentfathername" class="form-control"
                                                    placeholder="Father Name" required="required">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-6 col-md-6 col-sm-12">
                                            <div class="form-group">
                                                <label for="update_pendingstudentmothername">মাতার নাম *</label>
                                                <input id="update_pendingstudentmothername" type="text"
                                                    name="update_pendingstudentmothername" class="form-control"
                                                    placeholder="Mother Name" required="required">
                                            </div>
                                        </div>
                                        <div class="col-lg-6 col-md-6 col-sm-12">
                                            <div class="form-group">
                                                <label for="update_pendingstudentgender">লিঙ্গ *</label>
                                                <select id="update_pendingstudentgender" name="update_pendingstudentgender" class="form-control"
                                                required="required" data-error="Select the Gender">
                                                <option value="" selected disabled>--Select Gender--</option>
                                                <option>Male</option>
                                                <option>Female</option>
                                            </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-6 col-md-12 col-sm-12">
                                            <div class="form-group">
                                                <label for="update_pendingstudentdob">জন্ম তারিখ *</label>
                                                <input id="update_pendingstudentdob" type="text" name="update_pendingstudentdob"
                                                    class="form-control" placeholder="Address" required="required">
                                            </div>
                                        </div>
                                        <div class="col-lg-6 col-md-12 col-sm-12">
                                            <div class="form-group">
                                                <label for="update_pendingstudentaddress">ঠিকানা *</label>
                                                <input id="update_pendingstudentaddress" type="text" name="update_pendingstudentaddress"
                                                    class="form-control" placeholder="Address *" required="required">
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-lg-6 col-md-6 col-sm-12">
                                            <div class="form-group">
                                                <label for="update_pendingstudentemail">ইমেইল *</label>
                                                <input id="update_pendingstudentemail" type="text" name="update_pendingstudentemail"
                                                    class="form-control" placeholder="Email Address" required="required">
                                            </div>
                                        </div>
                                        <div class="col-lg-6 col-md-6 col-sm-12">
                                            <div class="form-group">
                                                <label for="update_pendingstudentmobile">মোবাইল *</label>
                                                <input id="update_pendingstudentmobile" type="text" name="update_pendingstudentmobile"
                                                    class="form-control" placeholder="Mobile No" required="required">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-6 col-md-6 col-sm-12">
                                            <div class="form-group">
                                                <label for="update_pendingstudentcoursefee">কোর্স ফি *</label>
                                                <input id="update_pendingstudentcoursefee" type="text" name="update_pendingstudentcoursefee"
                                                    class="form-control" placeholder="Course Fee" required="required">
                                            </div>
                                        </div>
                                        <div class="col-lg-6 col-md-6 col-sm-12">
                                            <div class="form-group">
                                                <label for="update_pendingstudentpayment">জমা *</label>
                                                <input id="update_pendingstudentpayment" type="text" name="update_pendingstudentpayment"
                                                    class="form-control" placeholder="Payment" required="required">
                                            </div>
                                        </div>
                                    </div>
                                    <!-- <div class="row">
                                        <div class="col-lg-12 col-md-12 col-sm-12">
                                            <div class="form-group">
                                                <label for="photo" class="form-label">ছবি (সর্বোচ্চ ২ MB, ৫০০ x ৫০০
                                                    Pixels)</label>
                                                <input class="form-control" type="file"  id="update_pendingstudentphoto"
                                                    name="photo">
                                            </div>
                                        </div>
                                    </div> -->
                                </div>
                                <div class="modal-footer">
                                    <button type="submit" class="btn btn-success"
                                        id="update-pendingstudent-button">Update</button>
                                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>


            <!-- Delete Confirmation Modal -->
            <div class="modal fade" id="deleteConfirmationModal" tabindex="-1" role="dialog"
                aria-labelledby="deleteConfirmationModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="deleteConfirmationModalLabel">Confirm Deletion</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            Are you sure you want to delete this Student?
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                            <button type="button" class="btn btn-danger"
                                id="confirmpendingstudentDeleteButton">Delete</button>
                        </div>
                    </div>
                </div>
            </div>
    </section>
    <script>
        $(document).ready(function () {
            $('#pendingstudent').DataTable(

                {

                    "aLengthMenu": [[5, 10, 25, -1], [5, 10, 25, "All"]],
                    "iDisplayLength": 5
                }
            );
        });


        function checkAll(bx) {
            var cbs = document.getElementsByTagName('input');
            for (var i = 0; i < cbs.length; i++) {
                if (cbs[i].type == 'checkbox') {
                    cbs[i].checked = bx.checked;
                }
            }
        }
    </script>

    <script src="{{ url_for('static', filename='script.js') }}"></script>
    <script src="../static/js/jquery.min.js"></script>
    <script src="../static/js/popper.js"></script>
    <script src="../static/js/bootstrap.min.js"></script>
    <script src="../static/js/main.js"></script>
    <!-- Sweet Alert -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.8.0/dist/sweetalert2.all.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.16/js/dataTables.bootstrap4.min.js"></script>

</body>

</html>