<!doctype html>
<html lang="en">

<head>
    <title>Admin Courses - Rainbow Computer Point</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">

    <!-- # Sweet Alert CDN -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11.8.0/dist/sweetalert2.min.css">

    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <!-- # Main Style Sheet -->

    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="../static/css/admincourse.css">
    <style>
        body {
            font-family: Anek Bangla;
        }

        table {
            font-family: Anek Bangla;
            border-collapse: collapse;
            width: 100%;
        }

        td,
        th {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 3px;
        }

        tr:nth-child(even) {
            background-color: #e7e9eb;
        }

        tbody {
            font-weight: normal;
        }

        tbody th {
            padding: 0;
        }

        table {
            width: 100%;
            table-layout: auto;
        }

        #studentsinfo_filter {
            float: right;
        }

        #studentsinfo_paginate {
            float: right;
        }

        label {
            display: inline-flex;
            margin-bottom: .5rem;
            margin-top: .5rem;
            font-weight: normal;
        }

        .viewstudentmodal .modal-header .container .logo img {
            width: 100px;
            height: auto;
            margin-top: 20px;
        }

        .viewstudentmodal .modal-header .container .content h1 {
            font-weight: bold;
            padding: 0;
            margin: 0;
            color: #4a45cf;
        }

        .viewstudentmodal .modal-header .container .content p {
            font-weight: normal;
            padding: 0;
            margin: 0;
        }

        .viewstudentmodal .modal-header .container .photo img {
            width: 106px;
            height: 130px;
            margin-top: 20px;
            border-radius: 10px;
            border: 1px solid #4a45cf;

        }

        .viewstudentmodal .modal-body .row {
            margin-bottom: 0;
        }

        .viewstudentmodal .modal-body .row .info-title {
            padding: 10px;
        }

        .viewstudentmodal .modal-body .row .info-detail {
            border: 1px solid #4a45cf;
            padding: 10px;
            font-style: normal;
            font-weight: normal;
            border-radius: 5px;
        }
        .form-group{
            margin-bottom: 0;
        }
    </style>
</head>

<body>
    <!-- navigation -->
    <header class="navigation bg-tertiary">
        <nav class="navbar navbar-expand-xl navbar-light text-center py-3">
            <div class="container">
                <a class="navbar-brand" href="/">
                    <img loading="prelaod" decoding="async" class="img-fluid" width="160"
                        src="../static/images/logo.png" alt="রেইনবো">
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation"> <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mx-auto mb-2 mb-lg-0">
                        
                        <li class="nav-item "> <a class="nav-link" href="/admincourse">কোর্সসমূহ</a>
                        </li>
                        <li class="nav-item "> <a class="nav-link" href="/adminservices">সেবাসমূহ</a>
                        </li>
                        <li class="nav-item "> <a class="nav-link" href="/studentsinfo">শিক্ষার্থী</a>
                        </li>
                    </ul>
                    <!-- account btn --> 
                    <a class="btn btn-outline-primary m-2" href="/admindashboard">ড্যাশবোর্ড</a>
                    <a href="{{ url_for('admin_login') }}" class="btn btn-outline-primary">লগ
                        আউট</a>
                </div>
            </div>
        </nav>
    </header>
    <!-- /navigation -->


    <!--==============course Status==========-->
    <section class="section course-section">
        <div class="container mt-5">
            <div class="row">

                <div class="col-lg-12 col-xl-12 col-sm-12">
                    <div class="card shadow">
                        <div class="card-header">
                            <div class="row justify-content-between ml-3 mr-3">
                                <h5 class="text-primary"><strong>শিক্ষার্থী<strong></h5>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="container course-list">
                                <div class="row">
                                    <div class="col-12 mb-3 mb-lg-5">
                                        <div class="overflow-hidden card table-nowrap table-card">

                                            <div class="table-responsive">
                                                <table id="studentsinfo" class="table table-striped table-bordered"
                                                    style="width:100%">
                                                    <thead>
                                                        <tr>
                                                            <th>Action</th>
                                                            <th>Roll No</th>
                                                            <th>Student Name</th>
                                                            <th>Course Name</th>
                                                            <th>Batch</th>
                                                            <th>Section</th>
                                                            <th>Date of Birth</th>
                                                            <th>Gender</th>
                                                            <th>Mobile</th>
                                                            <th>Email</th>
                                                            <th>Address</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody id="studentsinfo-table-body">

                                                    </tbody>
                                                    <script>
                                                        fetch('/studentsinfo_data')
                                                            .then(response => response.json())
                                                            .then(data => {
                                                                const tbody = document.getElementById('studentsinfo-table-body');
                                                                data.forEach(row => {
                                                                    const tr = document.createElement('tr');
                                                                    console.log("This is data", row)
                                                                    tr.innerHTML = `
                                                                    <td class="text-end">
                                                                            <div class="dropdown">
                                                                                <button class="btn btn-sm btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                                                    Action
                                                                                </button>
                                                                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                                                                    <a class="dropdown-item update-studentsinfo" data-studentsinfo-id="${row.RollNo}" data-toggle="modal" data-target="#updatestudentsinfoModal">Update Student</a>
                                                                                    <a class="dropdown-item delete-studentsinfo" data-studentsinfo-id="${row.RollNo}" data-toggle="modal" data-target="#deleteConfirmationModal">Delete Student</a>
                                                                                    <a class="dropdown-item view-studentsinfo" data-studentsinfo-id="${row.RollNo}" data-toggle="modal" data-target="#viewstudentModal">View Student</a>
                                                                                </div>
                                                                            </div>
                                                                        </td>
                                                                        <td>${row.RollNo}</td>
                                                                        <td>${row.StudentName}</td>
                                                            <td>${row.Coursename}</td>
                                                            <td>${row.Batch}</td>
                                                            <td>${row.Section}</td>
                                                            <td>${row.Dob}</td>
                                                            <td>${row.Gender}</td>
                                                            <td>${row.Mobile}</td>
                                                            <td>${row.Email}</td>
                                                            <td>${row.Address}</td>
                                                                        
                                                                    `;
                                                                    tbody.appendChild(tr);
                                                                });

                                                                // Event listener for update studentsinfo action
                                                                document.querySelectorAll('.update-studentsinfo').forEach(item => {
                                                                    item.addEventListener('click', event => {
                                                                        const studentsinfoId = event.target.getAttribute('data-studentsinfo-id');
                                                                        console.log("Update id: ", studentsinfoId);
                                                                        fetch(`/get_studentsinfo/${studentsinfoId}`)
                                                                            .then(response => response.json())
                                                                            .then(studentsinfo => {
                                                                                console.log("Pending data: ", studentsinfo);
                                                                                // Populate the modal input fields with studentsinfo data
                                                                                document.getElementById('update_studentsinfoid').value = studentsinfo.Id;
                                                                                document.getElementById('update_studentsinforollno').value = studentsinfo.RollNo;
                                                                                // console.log(studentsinfo.studentid);
                                                                                document.getElementById('update_studentsinfocoursename').value = studentsinfo.Coursename;
                                                                                document.getElementById('update_studentsinfobatch').value = studentsinfo.Batch;
                                                                                document.getElementById('update_studentsinfosection').value = studentsinfo.Section;
                                                                                document.getElementById('update_studentsinfoname').value = studentsinfo.StudentName;

                                                                                document.getElementById('update_studentsinfofathername').value = studentsinfo.FatherName;
                                                                                document.getElementById('update_studentsinfomothername').value = studentsinfo.MotherName;
                                                                                document.getElementById('update_studentsinfoemail').value = studentsinfo.Email;
                                                                                document.getElementById('update_studentsinfomobile').value = studentsinfo.Mobile;
                                                                                document.getElementById('update_studentsinfogender').value = studentsinfo.Gender;
                                                                                document.getElementById('update_studentsinfodob').value = studentsinfo.Dob;
                                                                                document.getElementById('update_studentsinfoaddress').value = studentsinfo.Address;
                                                                                document.getElementById('update_studentsinfophoto').value = studentsinfo.StudentPhoto;
                                                                                // document.getElementById('test_id').value = studentsinfo.email;


                                                                                // Show the update modal
                                                                                $('#updatestudentsinfoModal').modal('show');
                                                                            })
                                                                            .catch(error => console.error('Error fetching studentsinfo data:', error));
                                                                    });
                                                                });

                                                                document.querySelectorAll('.view-studentsinfo').forEach(item => {
                                                                    item.addEventListener('click', event => {
                                                                        const studentsinfoId = event.target.getAttribute('data-studentsinfo-id');
                                                                        console.log("View id: ", studentsinfoId);

                                                                        // Fetch student information
                                                                        fetch(`/get_studentsinfo/${studentsinfoId}`)
                                                                            .then(response => response.json())
                                                                            .then(data => {
                                                                                // Update modal content with fetched data
                                                                                const modal = document.getElementById('viewstudentModal');


                                                                                modal.querySelector('.image').src = `../static/images/students/${data.StudentPhoto}`;
                                                                                console.log("Photo is:",data.StudentPhoto)
                                                                                modal.querySelector('.rollno').textContent = data.RollNo;
                                                                                modal.querySelector('.coursename').textContent = data.Coursename;
                                                                                modal.querySelector('.batch').textContent = data.Batch;
                                                                                modal.querySelector('.section').textContent = data.Section;
                                                                                modal.querySelector('.studentname').textContent = data.StudentName;
                                                                                modal.querySelector('.fathername').textContent = data.FatherName;
                                                                                modal.querySelector('.mothername').textContent = data.MotherName;
                                                                                modal.querySelector('.gender').textContent = data.Gender;
                                                                                modal.querySelector('.dob').textContent = data.Dob;
                                                                                modal.querySelector('.address').textContent = data.Address;
                                                                                modal.querySelector('.email').textContent = data.Email;
                                                                                modal.querySelector('.mobile').textContent = data.Mobile;
                                                                                modal.querySelector('.coursefee').textContent = data.CourseFee;
                                                                                modal.querySelector('.payment').textContent = data.Payment;
                                                                                modal.querySelector('.due').textContent = data.Due;
                                                                                modal.querySelector('.admissiondate').textContent = data.AdmissionDate;

                                                                            })
                                                                            .catch(error => {
                                                                                console.error('Error fetching student information:', error);
                                                                            });
                                                                    });
                                                                });

                                                                // Event listener for delete studentsinfo confirmation
                                                                document.querySelectorAll('.delete-studentsinfo').forEach(item => {
                                                                    item.addEventListener('click', event => {
                                                                        const studentsinfoId = event.target.getAttribute('data-studentsinfo-id');
                                                                        console.log("Delete id: ", studentsinfoId);
                                                                        const confirmstudentsinfoDeleteButton = document.getElementById('confirmstudentsinfoDeleteButton');

                                                                        confirmstudentsinfoDeleteButton.addEventListener('click', () => {
                                                                            // Perform the deletion process, either by making an AJAX request or redirecting to a delete route
                                                                            deletestudentsinfo(studentsinfoId);
                                                                        });
                                                                    });
                                                                });
                                                            })
                                                            .catch(error => console.error('Error fetching data:', error));

                                                        function deletestudentsinfo(studentsinfoId) {
                                                            fetch(`/delete_studentsinfo/${studentsinfoId}`, {
                                                                method: 'DELETE'
                                                            })
                                                                .then(response => {
                                                                    if (response.ok) {
                                                                        Swal.fire({
                                                                            title: "Good job!",
                                                                            text: "studentsinfo deleted successfully",
                                                                            icon: "success"
                                                                        });
                                                                        location.reload();
                                                                    } else {
                                                                        Swal.fire({
                                                                            title: "Opps...!",
                                                                            text: "Failed to delete studentsinfo!",
                                                                            icon: "error"
                                                                        });
                                                                    }
                                                                })
                                                                .catch(error => console.error('Error deleting studentsinfo:', error));
                                                        }
                                                    </script>
                                                </table>
                                            </div>

                                            <!-- JavaScript to handle click events and print student ID -->
                                            <script>
                                                $(document).ready(function () {
                                                    $('.dropdown-item').click(function () {
                                                        var studentId = $(this).data('studentsinfo-id');
                                                    });
                                                });
                                            </script>

                                        </div>
                                    </div>
                                </div>

                            </div>

                        </div>
                    </div>
                </div>

            </div>

            <!-- Update studentsinfo -->
            <div class="modal fade" id="updatestudentsinfoModal" tabindex="-1"
                aria-labelledby="updatestudentsinfoModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="updatestudentsinfoModalLabel">Update Applied Student</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <form id="update-studentsinfo-form" role="form" action="" method="post"
                                enctype="multipart/form-data">
                                <div class="controls">
                                    <div class="row">
                                        <input type="hidden" id="update_studentsinfoid" name="update_studentsinfoid">
                                        <input type="hidden" id="update_studentsinfophoto"
                                            name="update_studentsinfophoto">

                                        <div class="col-lg-6 col-md-6 col-sm-12">
                                            <div class="form-group">
                                                <label for="update_studentsinforollno">রোল নং *</label>
                                                <input type="text" id="update_studentsinforollno"
                                                    name="update_studentsinforollno" class="form-control"
                                                    placeholder="Student Roll No" required="required">
                                            </div>
                                        </div>
                                        <div class="col-lg-6 col-md-6 col-sm-12">
                                            <div class="form-group">
                                                <label for="update_studentsinfocoursename">কোর্স সিলেক্ট করুন *</label>
                                                <select id="update_studentsinfocoursename"
                                                    name="update_studentsinfocoursename" class="form-control"
                                                    required="required" data-error="Select the Course.">
                                                    <option value="" selected disabled>--Select Course--</option>
                                                    <option>Office Application Program</option>
                                                    <option>Graphic Designing</option>
                                                    <option>Digital Marketing</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-lg-6 col-md-6 col-sm-12">
                                            <div class="form-group">
                                                <label for="update_studentsinfobatch">ব্যাচ *</label>
                                                <select name="update_studentsinfobatch" id="update_studentsinfobatch"
                                                    class="form-control" required="required"
                                                    data-error="Select the Batch">
                                                    <option value="" selected disabled>--Select Batch--</option>
                                                    <option>10:00 AM</option>
                                                    <option>11:30 AM</option>
                                                    <option>03:00 PM</option>
                                                    <option>04:30 PM</option>
                                                    <option>06:00 PM</option>
                                                    <option>08:00 PM</option>
                                                    <option>Other</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-lg-6 col-md-6 col-sm-12">
                                            <div class="form-group">
                                                <label for="update_studentsinfosection">সেকশন *</label>
                                                <select name="update_studentsinfosection"
                                                    id="update_studentsinfosection" class="form-control"
                                                    required="required" data-error="Select the Section">
                                                    <option value="" selected disabled>--Select Section--</option>
                                                    <option>A</option>
                                                    <option>B</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-lg-6 col-md-6 col-sm-12">
                                            <div class="form-group">
                                                <label for="update_studentsinfoname">শিক্ষার্থীর নাম *</label>
                                                <input id="update_studentsinfoname" type="text"
                                                    name="update_studentsinfoname" class="form-control"
                                                    placeholder="Student Name" required="required">
                                            </div>
                                        </div>
                                        <div class="col-lg-6 col-md-6 col-sm-12">
                                            <div class="form-group">
                                                <label for="update_studentsinfofathername">পিতার নাম *</label>
                                                <input id="update_studentsinfofathername" type="text"
                                                    name="update_studentsinfofathername" class="form-control"
                                                    placeholder="Father Name" required="required">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-6 col-md-6 col-sm-12">
                                            <div class="form-group">
                                                <label for="update_studentsinfomothername">মাতার নাম *</label>
                                                <input id="update_studentsinfomothername" type="text"
                                                    name="update_studentsinfomothername" class="form-control"
                                                    placeholder="Mother Name" required="required">
                                            </div>
                                        </div>
                                        <div class="col-lg-6 col-md-6 col-sm-12">
                                            <div class="form-group">
                                                <label for="update_studentsinfogender">লিঙ্গ *</label>
                                                <select id="update_studentsinfogender" name="update_studentsinfogender"
                                                    class="form-control" required="required"
                                                    data-error="Select the Gender">
                                                    <option value="" selected disabled>--Select Gender--</option>
                                                    <option>Male</option>
                                                    <option>Female</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-6 col-md-12 col-sm-12">
                                            <div class="form-group">
                                                <label for="update_studentsinfodob">জন্ম তারিখ *</label>
                                                <input id="update_studentsinfodob" type="text"
                                                    name="update_studentsinfodob" class="form-control"
                                                    placeholder="Address" required="required">
                                            </div>
                                        </div>
                                        <div class="col-lg-6 col-md-12 col-sm-12">
                                            <div class="form-group">
                                                <label for="update_studentsinfoaddress">ঠিকানা *</label>
                                                <input id="update_studentsinfoaddress" type="text"
                                                    name="update_studentsinfoaddress" class="form-control"
                                                    placeholder="Address *" required="required">
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-lg-6 col-md-6 col-sm-12">
                                            <div class="form-group">
                                                <label for="update_studentsinfoemail">ইমেইল *</label>
                                                <input id="update_studentsinfoemail" type="text"
                                                    name="update_studentsinfoemail" class="form-control"
                                                    placeholder="Email Address" required="required">
                                            </div>
                                        </div>
                                        <div class="col-lg-6 col-md-6 col-sm-12">
                                            <div class="form-group">
                                                <label for="update_studentsinfomobile">মোবাইল *</label>
                                                <input id="update_studentsinfomobile" type="text"
                                                    name="update_studentsinfomobile" class="form-control"
                                                    placeholder="Mobile No" required="required">
                                            </div>
                                        </div>
                                    </div>
                                    <!-- <div class="row">
                                        <div class="col-lg-12 col-md-12 col-sm-12">
                                            <div class="form-group">
                                                <label for="photo" class="form-label">ছবি (সর্বোচ্চ ২ MB, ৫০০ x ৫০০
                                                    Pixels)</label>
                                                <input class="form-control" type="file"  id="update_studentsinfophoto"
                                                    name="photo">
                                            </div>
                                        </div>
                                    </div> -->
                                </div>
                                <div class="modal-footer">
                                    <button type="submit" class="btn btn-success"
                                        id="update-studentsinfo-button">Update</button>
                                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <!-- View studentsinfo -->
            <div class="modal viewstudentmodal fade" id="viewstudentModal" tabindex="-1" role="dialog"
                aria-labelledby="viewstudentModalLabel" aria-hidden="true">
                <div class="modal-dialog  modal-lg" role="document">
                    <div class="modal-content">
                        <div class="modal-header">

                            <div class="container">
                                <div class="row mb-0">
                                    <div class="logo col-lg-2 justify-content-center">
                                        <img src="../static/images/logo.png" alt="rainbowlogo">
                                    </div>
                                    <div class="content col-lg-8 flex-column text-center justify-content-center">
                                        <p>Youth Development Computer Training Institute</p>
                                        <h1>Rainbow Computer Point</h1>
                                        <p>Joynabari, Hemayetpur, Savar, Dhaka-1340</p>
                                        <h4 class="btn btn-primary mt-2">Admission Form</h4>
                                    </div>
                                    <div class="photo col-lg-2 justify-content-end">
                                        <img class="image" src="../static/images/students/" alt="Student Photo">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-body">
                            <div class="container">
                                <div class="row text-center">
                                    <h4 class="col-lg-12" style="color: #4a45cf;"><strong>Personal Information</strong></h4>
                                    <hr>
                                </div>
                                <div class="row">
                                    <p class="info-title col-lg-3">Roll No:</p>
                                    <p class="info-detail rollno col-lg-9"></p>
                                </div>
                                <div class="row">
                                    <p class="info-title col-lg-3">Student Name:</p>
                                    <p class="info-detail studentname col-lg-9"></p>
                                </div>
                                <div class="row">
                                    <p class="info-title col-lg-3">Father's Name:</p>
                                    <p class="info-detail fathername col-lg-9"></p>
                                </div>
                                <div class="row">
                                    <p class="info-title col-lg-3">Mother's Name:</p>
                                    <p class="info-detail mothername col-lg-9"></p>
                                </div>
                                <div class="row">
                                    <p class="info-title col-lg-3">Gender:</p>
                                    <p class="info-detail gender col-lg-9"></p>
                                </div>
                                <div class="row">
                                    <p class="info-title col-lg-3">Date of Birth:</p>
                                    <p class="info-detail dob col-lg-9"></p>
                                </div>
                                <div class="row text-center">
                                    <h4 class="col-lg-12" style="color: #4a45cf;"><strong>Contact Information</strong></h4>
                                </div>
                                <div class="row">
                                    <p class="info-title col-lg-3">Address:</p>
                                    <p class="info-detail address col-lg-9"></p>
                                </div>
                                <div class="row">
                                    <p class="info-title col-lg-3">Email:</p>
                                    <p class="info-detail email col-lg-9"></p>
                                </div>
                                <div class="row">
                                    <p class="info-title col-lg-3">Mobile:</p>
                                    <p class="info-detail mobile col-lg-9"></p>
                                </div>
                                
                                <div class="row text-center">
                                    <h4 class="col-lg-12" style="color: #4a45cf;"><strong>Course Information</strong></h4>
                                </div>
                                <div class="row">
                                    <p class="info-title col-lg-3">Course Name:</p>
                                    <p class="info-detail coursename col-lg-9"></p>
                                </div>
                                <div class="row">
                                    <p class="info-title col-lg-3">Batch:</p>
                                    <p class="info-detail batch col-lg-9"></p>
                                </div>
                                <div class="row">
                                    <p class="info-title col-lg-3">Section:</p>
                                    <p class="info-detail section col-lg-9"></p>
                                </div>
                                <div class="row">
                                    <p class="info-title col-lg-3">Admission Date:</p>
                                    <p class="info-detail admissiondate col-lg-9"></p>
                                </div>
                                <div class="row text-center">
                                    <h4 class="col-lg-12" style="color: #4a45cf;"><strong>Payment Information</strong></h4>
                                </div>
                                <div class="row">
                                    <p class="info-title col-lg-2">Course Fee:</p>
                                    <p class="info-detail coursefee col-lg-10"></p>
                                </div>
                                <div class="row">

                                    <p class="info-title col-lg-2">Payment:</p>
                                    <p class="info-detail payment col-lg-4"></p>
                                    <p class="info-title col-lg-2">Due:</p>
                                    <p class="info-detail due col-lg-4"></p>

                                </div>
                            </div>

                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>

                        </div>
                    </div>
                </div>
            </div>


            <!-- Delete Confirmation Modal -->
            <div class="modal fade" id="deleteConfirmationModal" tabindex="-1" role="dialog"
                aria-labelledby="deleteConfirmationModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="deleteConfirmationModalLabel">Confirm Deletion</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            Are you sure you want to delete this Student?
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                            <button type="button" class="btn btn-danger"
                                id="confirmstudentsinfoDeleteButton">Delete</button>
                        </div>
                    </div>
                </div>
            </div>
    </section>
    <script>
        $(document).ready(function () {
            $('#studentsinfo').DataTable(

                {

                    "aLengthMenu": [[5, 10, 25, -1], [5, 10, 25, "All"]],
                    "iDisplayLength": 5
                }
            );
        });


        function checkAll(bx) {
            var cbs = document.getElementsByTagName('input');
            for (var i = 0; i < cbs.length; i++) {
                if (cbs[i].type == 'checkbox') {
                    cbs[i].checked = bx.checked;
                }
            }
        }
    </script>

    <script src="{{ url_for('static', filename='script.js') }}"></script>
    <script src="../static/js/jquery.min.js"></script>
    <script src="../static/js/popper.js"></script>
    <script src="../static/js/bootstrap.min.js"></script>
    <script src="../static/js/main.js"></script>
    <!-- Sweet Alert -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.8.0/dist/sweetalert2.all.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.16/js/dataTables.bootstrap4.min.js"></script>

</body>

</html>